.git
.hg
.cache
bin/
src/go/pkg
tools/ansible/*.retry
tools/ansible/hosts-lateral
tools/ansible/hosts-ebw
electricbook-*.yml
git_cache/pr_requests/*
git_cache/repos/*
!git_cache/pr_requests/README.md
!git_cache/repos/README.md
node_modules
