.git
tmp/
.idea
.hg
.cache
bin/
src/go/pkg
tools/ansible/*.retry
tools/ansible/hosts-lateral
tools/ansible/hosts-ebw
tools/ansible/hosts-*
electricbook-*.yml
git_cache/pr_requests/*
git_cache/repos/*
!git_cache/pr_requests/README.md
!git_cache/repos/README.md
node_modules
public/css/*.css
src/go/src/gopkg.in/libgit2
!src/go/src/gopkg.in/git2go.v25/repository_*.go
examples/merge-origin/fork
examples/merge-origin/origin
