[Unit]
Description=electricbook

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
WorkingDirectory=/opt/electricbook/
User=electricbook
Group=electricbook
ExecStart=/usr/bin/authbind /opt/electricbook/bin/electricbook -logtostderr web

