#new-editor {
	flex-grow: 1;
	position: relative;

	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;

	#new-editor-files-nav {
		position: relative;
		flex-grow: 0;
		width: 20%;
		max-width: 20%;

		border-right: 1px solid $color-primary;

		transition: width 0.3s;

		#files-show-tag {
			display: block;
			position: absolute;
			right: -2.5em;
			top: 0.5em;

			width: 2.5em;
			height: 2.5em;
			z-index: 100;

			border: 2px solid $color-primary;
			border-left: 0px;
			border-top-right-radius: 1em;
			border-bottom-right-radius: 1em;

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;

			cursor: pointer;
			background-color: white;
			color: $color-darkgray;
			&:hover {
				background-color: $color-primary;
				color: $color-primary;
			}
			& > img {
				width: 1.4em;
				&.showing {
					display: none;
				}
				&.hidden {
					display: block;
				}
			}
			&.showing > img {
				&.showing {
					display: block;
				}
				&.hidden {
					display: none;
				}
			}
		}

		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
		.file-actions {
			flex-grow: 0;
		}

		#repo-file-actions {
			flex-direction: column;
			&>div, &>a, &>button {
				margin-left: 0;
			}
		}
		.file-container {
			flex-grow: 1;
			position:relative;
			#all-files-editor {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;

				width: 100%;
				max-width: 100%;
				// max-height: 100%;		
				// border: 2px solid red;
				overflow: scroll;
				// padding: 1em;
				box-sizing: border-box;
				margin: 0;

				.allfiles-file {			
					list-style: none;
					margin: 0;
					padding: 0;
					padding-left: 1em;
					box-sizing: border-box;
					cursor: pointer;
					&:hover {
						background-color: $color-primary;
					}
					// max-height: 80vh;
					&.changed {
						color: green;
					}
					&.removed {
						color: red;
						text-decoration: line-through;
					}
					&.ignore {
						display: none;
					}
				}
			}
		}
	}

	#file-editors {
		flex-grow: 1;
		position: relative;


		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: stretch;

		max-height: 100% !important;
		.header-split {
			display: flex;
			flex-direction: row;
			align-items: baseline;
			justify-content: space-between;
			.file-title {
				padding-left: 3em;
				span[ebw-bind="current-filename"] {
					font-weight: bold;
				}
			}
		}
		.editor {
			flex-grow: 1;
			position: relative;

			.repo-file-editor-workspace {
				width: 100%;
				height: 100%;
				.repo-file-editor {
					.CodeMirror {
						font-size: 1.6em;
						// // height: 5em !important;
						// height: 30em !important;
						// max-height: 100%;
						// min-height: 100%;
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
						height: 100%;
					}
				}
				.repo-image-editor {
					// border: 3px solid red;
					background-color: #f8f8f8;
					padding: 1em;
					position: absolute;
					top: 0;
					bottom: 0;
					left: 0;
					right: 0;
					height: 100%;					
					& > div {
						width: 100%;
						height: 100%;
						max-width: 100%;
						max-height: 100%;

						background-repeat: no-repeat;
						background-position: center center;
						background-size: contain;
					}
				}
			}
		}
	}
}

#editor {
	border-style: solid;
	border-color: $color-primary;
	border-width: 1px 0 1px 0;
}