#pull-request-new {

	label[for="title"] {
		margin: 1em 0;
		.pull-request-new-description-note {
			color: $color-darkgray;
			display: block;
			font-size: 0.8em;
			margin-bottom: 0.5em;
		}		
	}

	.pull-request-new-see-changes {
		a {
			text-decoration: underline;
		}
	}

	.pull-request-new-actions {
		text-align: right;
	}

	.pull-request-new-no-upstream {
		a {
			text-decoration: underline;
		}
	}
}
