#pull-request-view {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;

	position: relative;

	#differences {
		flex-grow: 0;
		width: 15em;
	}
	#mergely-container {
		flex-grow: 1;
		height: 100%;
		position: relative;

		.merge-editor {
			width: 100%;
			height: 100%;

			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: stretch;
			flex-wrap: nowrap;
		}
		.merge-mergely {
			flex-grow: 1;
		}		
	}
}

#mergely {
	flex-grow: 1;
	height: 100%;
	.merge-editor {
		width: 100%;
		height: 100%;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;
		flex-wrap: nowrap;
	}
	.merge-mergely {
		flex-grow: 1;
	}
}
