#repo-diff-file-viewer {
	align-items: stretch;
	border-top: 2em solid $color-black;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	position: relative;

	// Fill page
	height: 100%;
	width: 100%;

	.repo-diff-file-viewer-tools {
		position: absolute;
		top: -1.75em;
		left: 3em;

		.btn {
			background-color: $button-background-alt;
			color: $button-color-alt;
			font-size: 0.8rem;
			padding: 0.3em 0.5em;

			&::before {
				content: "\f060"; // arrow
				font-family: "FontAwesome";	
				margin-right: 0.35em;
			}

			&:hover,
			&:active,
			&:focus {
				background-color: $button-background;
				color: $button-color;
			}
		}
	}

	// Here we hack teh iframe layout to creat the illusion
	// that the toolbar (word wrap, PDF) is part of the parent document,
	// when it fact it's part of the iframe.
	#diff-view {
		background-color: $color-white;
		border: none;
		flex-grow: 3;
		margin-top: -1.9em; // magic number, aligns toolbar
        @supports (-moz-appearance: none) {
			margin-top: -1.96em; // magic number for Firefox, aligns toolbar
		}
		// Add the black toolbar by default
		border-top: 1.9em solid $color-black;
		@supports (-moz-appearance: none) {
			border-top-width: 1.96em; // magic number for Firefox, aligns toolbar
		}
		// And hide it if a file with a diff loads
		&[src*="/diff/"],
		&:not([src]) {
			border-top: none;
		}
	}
}
