#repo-conflict {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;

	.repo-conflict-actions {
		flex-grow: 0;
		padding: 1em;
		display: flex;
		// flex: row nowrap;
		justify-content: space-between;
		align-items: flex-end;

		.repo-conflict-actions-guidance {
			@include notification-dialog();
			margin: 0 1em 0 0;
		}
	}
	#work {
		flex-grow: 1;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;

		&.pr-merge {
			.not-pr-merge {
				display: none !important;
			}
		}
		&.not-pr-merge {
			.pr-merge {
				display: none !important;
			}
		}

		#files {
			flex-grow: 0;
			width: 20%;
			// border: 1px solid $color-primary;

			position: relative;

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: stretch;

			transition: width $transition-slide-duration;

			width: 0px;
			&.showing {
				width: 20%;
			}

			// &>div:nth-child(2) {	// titlebar
			// 	flex-grow: 0;
			// 	border-bottom: 1px solid $color-primary;
			// 	background-color: $color-inverse-bg;
			// 	color: $color-inverse-fg;
			// 	padding-left: 1em;
			// }
			.staged-files-list-container {
				// container for #staged-files-list, required to
				// allow position:relative;
				// see #staged-files-list definitions belog
				flex-grow: 1;
				position: relative;
				padding: 0 0 0 0;
			}
		}
		#editor {
			flex-grow: 1;
			position: relative;
			// background-color: lightgray;

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: stretch;

			#editor-topbar {
				background-color: $color-black;
				min-height: 2em;
				padding: 0.25em 0.25em 0.25em 0;
				z-index: 4; // avoid being obscured by editing panel

				// Flex
				align-items: center;
				display: flex;
				flex-direction: row;
				flex-grow: 0;
				justify-content: space-between;

				// Leave space for close button when maximised.
				// See also _repo_editor.scss.
				.editorMaximised & {
					padding-left: 2.25em;
				}


				.btn, button {
					background-color: $button-background-alt;
					color: $button-color-alt;
					font-size: 0.8rem;
					padding: 0.3em 0.5em;

					&:hover {
						background-color: $button-background;
						color: $button-color;
						cursor: pointer;
					}
				}

				.repo-conflict-copy-options,
				.repo-conflict-revert-options {
					position: relative;
					ul {
						@include dropdown-list();
						left: 0;
					}
					&:hover {
						ul {
							visibility: visible;
						}
					}
				}
			}

			#editor-label-panes {
				display: flex;
				flex-direction: row;
				align-items: flex-end;
				height: 2.5em;
				justify-content: space-around;

				// Hide until show, see below
				visibility: hidden;

				& > div {
					// color: white;
					font-weight: bold;
					text-align: center;
				}
			}

			// Hide unless a file is showing
			&[data-file-in-editor] #editor-label-panes {
				visibility: visible;
			}

			#editor-work {
				flex-grow: 1;
				margin: 0 1em; // create space between mergely buttons and edges
				position: relative;
				z-index: 0; // place in stacking context

				// display: flex;
				// flex-direction: row;
				// justify-content: space-between;
				// align-items: stretch;

				&.pr-merge>div:not(.merge-image-editor) {
					display: flex;
					flex-direction: row;
					align-items: stretch;
					justify-content: space-between;
				}
				&>div {
					position: absolute;
					top: 0; bottom: 0; left:0; right:0;
					// position: relative;
				}
				&>div:not(.merge-image-editor) {
					& > div {
						float:none;
						flex-grow: 0;
					}
					& > .mergely-column {
						flex-grow: 1;
					}
					&.CodeMirror {
						position: absolute;
						top: 0;
						bottom: 0;
						left: 0;
						right: 0;
					}
					.CodeMirror, &.CodeMirror {
						height: 100%;
					}
				}
			}
		}
	}
}

.repo-conflict-files-list-message {
	display: none; // not using this message;

	@include notification-dialog();
	font-size: 0.9rem;
	margin: 0.5em;
	// .showing & {
	// 	display: block;
	// }
}

// This list should be designed to look the same as
// the file tree in _file_tree.scss. They have a
// different HTML structure, so it's not currently
// feasible to use the same Sass for both.
#staged-files-list {
	overflow-y: scroll;
	position: absolute;
	width: 100%;
	height: 100%;
	font-size: 0.9rem; // rem to avoid nested files getting smaller
	padding: 1.5em 0.5em 0.5em 0.5em;

	& > ul {
		&.pr-merge {
			// border: 2px solid blue;
		}
		&.not-pr-merge {
			// border: 2px solid red;
		}
		list-style: none;
		margin: 0;
		& > li {
			line-height: 1.5;
			padding-left: 1em;
			cursor: pointer;
			// &:hover {
			// 	&>.path {
			// 		color: $color-primary;
			// 	}
			// }
			& > .path {

			}
			& > .status {
				// font-size: 0.7em;
				// background-color: $color-lightgray;
				// border-radius: 0.2em;
				// margin-left: 1em;
				// padding: 0 0.4em;
				@include file-tip();
			}
			&.status-new {
				&>.status {
					background-color: $color-status-new;
				}
			}
			&.status-deleted {
				&>.status {
					background-color: $color-status-deleted;
				}
			}
			&.status-modified {
				&>.status {
					background-color: $color-status-modified;
				}
			}
			&.status-resolved {
				&>.status {
					background-color: $color-status-resolved;
				}
			}
			&.status-error {
				&>.status {
					background-color: $color-status-error;
				}
			}
			&.status-conflict {
				&>.status {
					background-color: $color-status-conflict;
				}
			}
			&.rpc {
				& > .status {
					background-color: $color-warning;

					// Blink this since it's a temporary loading state
					animation: blinker 1s linear infinite;

					@keyframes blinker {
						50% {
							// opacity: 0;
							background-color: $color-white;
						}
					}
				}
			}
			transition: background-color $transition-slide-duration;
		}
	}
}

#merge-instructions {
	display: flex;
	align-items: center;

	.merge-instructions {
		align-items: center;
		display: flex;
		height: 1em;
		position: relative;
	
		.instructions-button {
			align-items: center;
			background-color: $button-background;
			border-radius: 1em;
			color: $button-color;
			cursor: pointer;
			display: flex;
			height: 1.5em;
			justify-content: center;
			margin: 0 0.25em 0 0;
			padding: 0.25em;
			width: 1.5em;
	
			&::after {
				content: "?";
				display: block;
			}
		}
		.instructions-text {
			display: none; // .showing will show, see below
	
			// Appearance
			@include notification-dialog();
			@include box-shadow();
	
			// Position
			max-width: 20em;
			position: absolute;
			right: 3em;
			top: 0em;
			width: 80vw;
			z-index: 100;
	
			h2 {
				font-weight: bold;
			}
	
			.editor-side {
				font-weight: bold;
			}
	
		}
		&.showing {
			.instructions-button {
				background-color: $color-inverse-bg;
				color: $color-inverse-fg;
	
				&::after {
					content: "×";
				}
			}
			.instructions-text {
				display: inline-block;
			}
		}
	}
}
