#repo-diff-file-viewer {
	align-items: stretch;
	border-top: 2em solid $color-black;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	position: relative;

	// Fill page
	height: 100%;
	width: 100%;

	.repo-diff-file-viewer-tools {
		position: absolute;
	}

	#diff-view {
		background-color: $color-white;
		border: none;
		flex-grow: 3;
	}
}
