#repo-conflict {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;
	
	#topbar {
		flex-grow: 0;
		// height: 3em;

		padding: 0.6em 1em 1em 1em;

		display: flex;
		flex: row nowrap;
		justify-content: space-between;
		align-items: baseline;
	}
	#work {
		flex-grow: 1;

		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: stretch;

		#files {
			flex-grow: 0;
			width: 30em;
			border: 1px solid $color-primary;

			position: relative;
			
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: stretch;

			transition: width 0.3s;

			width: 0px;
			&.showing {
				width: 30em;
			}

			&>div:nth-child(2) {	// titlebar
				flex-grow: 0;
				border-bottom: 1px solid $color-primary;
				background-color: $color-inverse-bg;
				color: $color-inverse-fg;
				padding-left: 1em;
			}
			&>div:nth-child(3) {	
				// container for #staged-files-list, required to 
				// allow position:relative;
				// see #staged-files-list definitions belog
				flex-grow: 1;				
				position: relative;
				padding: 0 0 0 0;
			}
		}
		#editor {
			flex-grow: 1;
			position: relative;
			background-color: lightgray;

			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: stretch;

			#editor-topbar {
				flex-grow: 0;
				// height: 3.3em;
				padding: 0.6em 1em 0.6em 3em;

				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: flex-start;
			}
			#editor-label-panes {
				display: flex;
				flex-direction: row;
				align-items: flex-start;
				justify-content: space-around;
				& > div {
					color: white;
					font-weight: bold;
					text-align: center;
				}
			}
			#editor-work {
				flex-grow: 1;
				position: relative;
				&>div {
					position: absolute;
					top: 0; bottom: 0; left:0; right:0;

					display: flex;
					flex-direction: row;
					align-items: stretch;
					justify-content: space-between;
					& > div {
						float:none;
						flex-grow: 0;
					}
					& > .mergely-column {
						flex-grow: 1;
					}
					.CodeMirror {
						height: 100%;
					}
				}
			}
		}
	}
}

#staged-files-list {
	overflow-y: scroll;
	position: absolute;
	width: 100%;
	height: 100%;

	& > ul {
		&.pr-merge {
			// border: 2px solid blue;
		}
		&.not-pr-merge {
			// border: 2px solid red;
		}
		list-style: none;
		margin: 0;
		& > li {
			padding-left: 1em;
			cursor: pointer;
			&:hover {
				&>.path {
					color: $color-primary;
				}
			}
			& > .path {

			}
			& > .status {
				font-size: 0.7em;
				background-color: $color-lightgray;
				border-radius: 0.2em;
				margin-left: 1em;
				padding: 0 0.4em;
			}
			&.status-new {
				&>.status {
					background-color: $color-status-new;
				}
			}
			&.status-deleted {
				&>.status {
					background-color: $color-status-deleted;
				}
			}
			&.status-modified {
				&>.status {
					background-color: $color-status-modified;
				}
			}
			&.status-resolved {
				&>.status {
					background-color: $color-status-resolved;
				}
			}
			&.rpc {
				background-color: yellow;
			}
			transition: background-color 0.3s;
		}
	}
}

.merge-instructions {
	position: relative;
	.instructions-button {
		background-color: transparent;
		color: $color-primary;
		border: 1px solid $color-primary;
		padding: 0.4em 1em;
		cursor: pointer;
		display: inline-block;
	}
	.instructions-text {
		display: none;

		overflow-y: auto;
		padding: 2em;
		border: 2px solid $color-primary;
		z-index: 100;
		background-color: rgba(255,255,255,0.95);

		position: absolute;
		
		top: 0em;
		right: 3em;

		width: 50em;
		max-width: 70vw;

		.editor-side {
			font-weight: bold;
			color: $color-primary;
		}
			
	}
	&.showing {
		.instructions-button {
			background-color: $color-inverse-bg;
			color: $color-inverse-fg;
		}
		.instructions-text {
			display: inline-block;
		}
	}
}