body.repo-diff-patch-page {
	overflow: hidden; // we want the scroll on the patch, not the iframe
	margin-top: 2em; // allow space for the toolbar
}

// Override default diff styles
#repo-diff-patch {
    height: 100vh; // necessary for scroll to work
	overflow-y: scroll;
	padding: 1em;

	.d2h-file-list-wrapper {
		display: none;
		margin: 0;
		padding: 1em;

		.d2h-file-name-wrapper {
			font-family: $body-font-family;
		}
	}

	.d2h-file-header {
		display: none;
	}

	.d2h-info {
		display: none;
	}

	.d2h-file-wrapper {
		border: 0;

		.d2h-diff-table {
			font-family: $body-font-family-code;

			.d2h-diff-tbody {
				border: 0;
			}

			td {
				background-color: $white2;
				padding: 0.2em 0;
			}
		}

		.d2h-code-linenumber {
			border: 0;
			font-size: 0.7em;
			width: 5em;
			.line-num1 {
				width: auto;
			}
			.line-num2 {
				width: auto;
			}
		}
	}

	tbody td,
	#repo-diff-patch tbody th {
		padding: 0;
	}

	&.wordwrap {
		.d2h-code-line-ctn {
			white-space: pre-wrap;
		}
	}
}

// Display controls
.repo-diff-patch-tools {
	// Flex content
	align-items: stretch;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	// Appearance
	padding: 0.33em 0.33em 0.33em 1em;
	background-color: $color-black;

	// Position
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;

	.btn {
		background-color: $button-background-alt;
		color: $button-color-alt;
		font-size: 0.8rem;
		padding: 0.3em 0.5em;

		&#print-button {
			&::before {
				content: "\f1c1";
				font-family: "FontAwesome";
				margin-right: 0.3em;
			}
		}

		&#wrap-button {
			&::before {
				content: "\f0c9";
				font-family: "FontAwesome";
				margin-right: 0.3em;
			}
		}

		&:hover {
			color: $button-color;
			background-color: $button-background;
		}

		&:first-child {
			margin-right: 0.5em;
		}

		// Word-wrap button is coloured when active
		&.wordwrap {
			background-color: $button-background;
			color: $button-color;
		}
	}
}

// Note:
// When the file is new, its contents are served as plain text in an iframe.
// There is not currently a way to target that with CSS.

// Print styles
@media print {
	body {
		-webkit-print-color-adjust: exact;
		color-adjust: exact;
	}
    body.repo-diff-patch-page { display: block }
	.repo-diff-patch-tools { display: none; }
}
