.repo-detail {
  border-bottom: 1px solid $color-lightgray;
  margin-bottom: 1em;

  .detail-container {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #eee;
    border: 1px solid $color-white;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);

    .row {
      margin-left: 0em;
      margin-right: 0em;
    }

    .pull-request-title {
      margin-left: 1em;
    }
  }

  .edits {
    border: 1px solid $color-lightgray;
    background-color: $color-white;
    margin-bottom: 2em;
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    .right {
      text-align: right;
      float: right;
    }
  }

  .add-file {
    margin-top: -40px;
    height: 4em;
    display: flex;
    align-items: center;
    float: right;
    padding-right: 2em;
    text-decoration: underline;
  }

  .edit-links {
    margin-bottom: 1em;
    text-decoration: underline;
    span {
      border-left: 1px solid $color-lightgray;
    }
    a {
      margin-left: 0.375em;
      margin-right: 0.375em;
    }
  }

  .pull-request-item {
    .row {
      margin-left: 0em;
      margin-right: 0em;
    }
    border-bottom: 1px solid $color-lightgray;
  }
}

.repo-detail-padding {
  margin-left: 5em;
  margin-right: 5em;
}