#repo-detail {
    .title-links {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      justify-content: space-between;
      margin-bottom: 1em;
    }  

  .repo-detail-section {

    margin-bottom: 1em;

    .edits {
      margin-bottom: 2em;
      padding-top: 1em;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      .right {
        text-align: right;
        float: right;
      }
    }

    .detail-container {
      min-height: 20px;
      padding: 19px;
      margin-bottom: 20px;
      background-color: #eee;
      border: 1px solid $color-white;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);

      .row {
        margin-left: 0em;
        margin-right: 0em;
      }

      .pull-request-title {
        margin-left: 1em;
      }
    }

    .file-list {
      max-height: 20em;
      overflow-y: scroll;
    }
    .file-item {
      text-decoration: underline;
    }


    .pull-request-item {
      &:first-child {
        border-top: 1px solid $color-lightgray;
      }
      border-bottom: 1px solid $color-lightgray;
      
      .row {
        margin-left: 0em;
        margin-right: 0em;
      }
    }
  }
}