.repo-detail {
  border-bottom: 1px solid $color-lightgray;
  margin-bottom: 1em;

  .detail-container {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #eee;
    border: 1px solid $color-white;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);

    .row {
      margin-left: 0em;
      margin-right: 0em;
    }

    .pull-request-title {
      margin-left: 1em;
    }
  }

  .edits {
    background-color: $color-white;
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  .add-file {
    margin-top:-40px;
    height: 4em;
    display: flex;
    align-items: center;
    float: right;
    padding-right: 3em;
  }

  .edit-links {
    margin-bottom: 1em;
  }

  .pull-request-item {
    margin-bottom: 1em;

    .row {
      margin-left:0em;
      margin-right:0em;
    }
  }
}

.repo-detail-padding {
  margin-left: 5em;
  margin-right: 5em;
}