<nav class="topbar">
	<div class="topbar-left">
		<a href="/" id="logo" class="logo"><img src="/img/electricbookworks.png">Electric Book Manager</a>
		<!-- if changes_to_review -->
		<!-- <a href="/">Review submissions (1)</a> -->
		<!-- end -->
	</div>
	{{if .RepoOwner}}
	<div class="topbar-center">
		{{.RepoOwner}}/{{.RepoName}}
	</div>
	{{end}}
	{{if .User}}
	<div class="topbar-right">
		<div>
			Logged in as <a href="https://github.com/{{.UserName}}"><img class="gravatar" src="{{.User.GetAvatarURL}}" alt="{{.UserName}} avatar">{{.UserName}}</a>. <a href="/logoff">Log out</a>
		</div>
	</div>
	{{end}}
</nav>
{{if .Flashes -}}
<div id="flashes" class="constrain-page flashes">
{{range .Flashes}}
	<div class="callout flash {{.CSS}}" data-closable>
		{{- if .Title}}<h1>{{.Title}}</h1>{{end -}}
		<div class="content">{{.Content}}</div>
		<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
{{- end}}
</div>
{{- end}}
