<nav class="topbar">
	<div class="topbar-left">
		<a href="/" id="logo" class="logo"><img src="/img/electricbookworks.png">Electric Book Manager</a>
	</div>
	{{if .User}}
	<div class="topbar-right">
		<div>
			<a class="username-gravatar" href="https://github.com/{{.UserName}}" target="_blank">{{.UserName}}<img class="gravatar" src="{{.User.GetAvatarURL}}" alt="{{.UserName}} avatar"/></a> <a href="/logoff" class="btn">Sign out</a>
		</div>
	</div>
	{{else}}
	<div class="topbar-right">
		<div class="landing-page-topbar-links">
			<a href="https://electricbookworks.com/book-hosting/">Pricing</a>
			<a href="https://electricbookworks.com/contact/">Contact</a>
		</div>
	</div>
	{{end}}
</nav>
{{if .Flashes -}}
<div id="flashes" class="flashes">
{{range .Flashes}}
	<div class="flash {{.CSS}}" data-closable>
		{{- if .Title}}<h2>{{.Title}}</h2>{{end -}}
		<div class="content">{{.Content}}</div>
		<button class="close-button" aria-label="Dismiss alert" type="button" data-close>
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
{{- end}}
</div>
{{- end}}
