{{template "_header.html" .}}

{{template "_nav_main.html" .}}

<main>
    <article class="constrain-page center error-page">

        <h1>Error Encountered</h1>

        <p>I'm afraid we've run into an error. The full description is:</p>

        <p>
            <code>
            {{.Err}}
            </code>
        </p>

        <p>If you cannot resolve this, please send an error report describing what you were doing when the error occurred.</p>

        <form method="post" action="/error/report">
        <input type="hidden" name="when" value="{{.When}}" />
        <input type="hidden" name="user" value="{{.User}}" />
        <input type="hidden" name="error" value="{{.Err}}" />
        <textarea name="description" rows="5" wordwrap="true"></textarea>
        <input type="submit" name="Send error report" class="btn"/>
        </form>
    </article>
</main>

{{template "_nav_footer.html" .}}
{{template "_footer.html" .}}
