{{template "_header.html" .}}
{{template "_nav_main.html" .}}

<main>
    <article class="constrain-page center error-page">

        <h1>Oh no, an error</h1>

        <p>Sorry, we've run into a problem. The technical description is:</p>

        <p>
            <code>
            {{.Err}}
            </code>
        </p>

        <p>If you can't resolve this, please let us know what you were doing when the error occurred. That will help us figure out what went wrong.</p>

        <form method="post" action="/error/report">
        <input type="hidden" name="when" value="{{.When}}" />
        <input type="hidden" name="user" value="{{.User}}" />
        <input type="hidden" name="error" value="{{.Err}}" />
        <textarea name="description" rows="5" wordwrap="true"></textarea>
        <div class="error-page-actions">
            <a href="/" class="btn btn-cancel error-page-action-cancel">Cancel</a>
            <input type="submit" name="error" value="Send error report" class="btn"/>
        </div>
        </form>
    </article>
</main>

{{template "_nav_footer.html" .}}
{{template "_footer.html" .}}
