{{template "_header.html" .}}

{{template "_nav_main.html" .}}

<main>
    <article class="constrain-page center landing-page">

        <h1>Connect to GitHub</h1>

        <p>The Electric Book Manager stores your projects in your GitHub account.</p>

        <a href="{{.AuthURL}}" class="btn">Sign in with GitHub</a>

        <p class="button-smallprint">By clicking this button, you're telling GitHub that you grant the Electric Book Manager permission to connect to your account. If you don't have an account, you'll be prompted to create one for free. Once you've done that, you'll see your dashboard here.</p>

        {{if .Users}}
        <p>Or you can login as any of these users:
        <ul>
        	{{range .Users}}
        	<li><a href="/github/token/{{.Token}}">{{.Name}}</a></li>
        	{{end}}
        </ul>
        </p>
        {{end}}

        <div>
            <p>If you know what you're doing, you can configure auto-login tokens for yourself (this is a developer debug-feature, not for general use).</p>
            <div data-instance="LoginTokenList"></div>
        </div>
    </article>
</main>

{{template "_footer.html" .}}
