{{template "_header.html" .}}
{{template "_nav_main.html" .}}

<!-- Rudimentary way to target repo-flow with step-specific CSS -->
<div data-repo-flow-step="submit"></div>
{{template "_repo-flow.html" .}}

<main id="pull-request-view">
	<div class="pr-topbar">Changes for review {{.PullRequest.Number}} : {{.PullRequest.Title}}</div>
	<div class="workspace">
		<nav id="differences">
			<div id="pr-files-list">
			</div>
			<div>
				<a href="{{.PullRequest.Number}}/close" class="btn">Close changes</a>
			</div>
		</nav>
		<div id="mergely-container">
		</div>
	</div>
</main>


<script id="pr-merge-page" type="text/hidden" repo-owner="{{.RepoOwner}}" repo-name="{{.RepoName}}" remote-url="{{.PullURL}}" remote-sha="{{.SHA}}">
{{- .Diffs | json | raw -}}
</script>
{{template "_nav_footer.html" .}}

{{template "_footer.html" .}}
