{{template "_header.html" .}}
{{template "_nav_main.html" .}}

{{$repoOwner := .RepoOwner}}
{{$repoName := .RepoName}}

<main id="pull-request-list" class="constrain-page">
	<nav class="pull-requests-open">
		<h1>To Review</h1>

		<ul class="pull-requests">

				<li class="pull-request open repository-pull-request-details">
 					<div class="actions">
						<a href="pull/0" class="btn">Review Submission <!--{{.GetTitle}}--></a>
						<a href="https://github.com/{{$repoOwner}}/{{$repoName}}/pull/0">View the discussion on GitHub</a>
					</div>
				</li>

			{{range .PullRequests}}
				<li class="pull-request open repository-pull-request-details">
					<div class="details">
						<h3><a href="pull/{{.GetNumber}}">{{.GetTitle}}</a> {{if .User}}submitted by {{.User.GetLogin}}{{end}} {{.GetCreatedAt | humantime}}</h3>
						<p>
						{{.GetBody}}
						</p>
					</div>
					<div class="actions">
						<a href="pull/{{.GetNumber}}" class="btn">Review Submission <!--{{.GetTitle}}--></a>
						<a href="https://github.com/{{$repoOwner}}/{{$repoName}}/pull/{{.GetNumber}}">View the discussion on GitHub</a>
					</div>
				</li>
			{{end}}
		</ul>
	</nav>
</main>

{{template "_footer.html" .}}
