{{template "_header.html" .}}
{{template "_nav_main.html" . }}

{{$userLogin := .UserName}}
<main>
<section class="constrain-page center repo-list-page">
    <div class="header-bar">
        <h1>Dashboard</h1>
        <div class="action-group">
            <a data-open="repo-new-modal" class="btn">Add a project</a>
        </div>
    </div>
    {{if IsSpecialUser .UserName}}
    <div>
    <a href="/github/token/b718f9693c3c85b6fac6b0cf82458b9f7532c15d">Login as timatcore</a>
    </div>
    {{end}}

    <ul class="repo-list">
        {{range .Repos}}
        {{- if .CanPush}}
        <li class="repo">
            <div class="repo-details">
                <h2><a class="repo-title" href="/repo/{{.RepoOwner}}/{{.Name}}/update?next=detail">{{.Name}}</a></h2>

                <div>
                {{- if eq .Owner.GetLogin $userLogin}}My
                {{- else }}<a href="https://github.com/{{.Owner.Login}}" target="_blank">{{.RepoOwnerNiceName}}</a>'s{{end}} {{if .GetFork}}version{{else}}original{{end}}
                {{- if .Owner.Company}}
                , from <a href="/TODO">{{.Owner.Company}}</a>
                {{- end}}</div>
                {{if .Description}}
                <p>{{.Description}}</p>
                {{end}}

                <!-- Grab latest commit -->
                {{with .GetLastCommit}}
                {{if .Committer}}
                <p>Last updated by {{.Committer}} {{.LastModified | humantime }}.</p>
                {{end}}
                {{end}}
            </div>
            <div class="repo-manage">
              <a class="btn" href="/repo/{{.RepoOwner}}/{{.Name}}/update?next=detail">Manage</a>
              {{if .GetTotalPRs}}
              <a class="btn" href="/repo/{{.RepoOwner}}/{{.Name}}/update?next=/repo/{{.RepoOwner}}/{{.Name}}/detail#review">Review submissions ({{.GetTotalPRs}})</a>
              {{end}}
            </div>
        </li>
        {{- end}}{{end}}
        <li class="repo">
            <div class="repo-add-repo">
                <a data-open="repo-new-modal" class="btn">Add a project</a>
            </div>
        </li>
    </ul>

    <div class="reveal" data-instance="AddNewBookDialog" id="repo-new-modal" data-reveal>
         <button class="close-button" data-close aria-label="Close modal" type="button">
            <span aria-hidden="true">&times;</span>
          </button>        
    </div>

</section>

</main>

{{template "_footer.html" .}}
