{{template "_header.html" .}}
{{template "_nav_main.html" .}}

{{- $ToOID := .ToOID}}

<!-- This div is a rudimentary way to target repo-flow with step-specific CSS -->
<div data-repo-flow-step="manage"></div>
{{template "_repo-flow.html" .}}

<main id="repo-diff-file-viewer" class="workspace">

	<div class="repo-diff-file-viewer-tools">
		<a href="/repo/{{.RepoOwner}}/{{.RepoName}}/diff" class="btn">Back to project history</a>
	</div>

	<div class="file-container" id="all-files-editor-container">
		<div id="all-files-editor" data-instance="AllFilesList"> </div>
	</div>

	<iframe id="diff-view" name="diff-view" src="">
	</iframe>

</main>

<script type="text/hidden" id="ebw-context" data-repo-owner="{{.RepoOwner}}" data-repo-name="{{.RepoName}}" data-page="RepoDiffFileViewerPage">
</script>

<script type="text/javascript">
window.pageData = {
	"diffs": {{.Diffs}},
	"ignoreFilter": {{.ProseIgnoreFilter}}
};
</script>

{{template "_nav_footer.html" .}}
{{ template "_footer.html" . }}