{{template "_header.html" .}}
{{template "_nav_main.html" .}}

<main id="repo-conflict" class="constrain-page">
<h1>Your files are in a conflicted state.</h1>

<div>
    <a class="btn" href="/repo/{{.RepoOwner}}/{{.RepoName}}/conflict/abort">Abort this merge</a>
</div>

<p>These files require attention:</p>
<div id="staged-files-list">
</div>

</main>
<script type="text/hidden" id="ebw-context" data-repo-owner="{{.RepoOwner}}" data-repo-name="{{.RepoName}}" data-page="RepoConflictPage">
</script>
<script type="text/hidden" id="staged-files-data">
{{- .StagedFiles | json | raw -}}
</script>

{{template "_footer.html" .}}