{{template "_header.html" .}}
{{template "_nav_main.html" .}}

<main id="repo-conflict">
	<div id="topbar">
		<div><span class="merging-description">You are merging {{.Merging.MergingDescription}}.</span>
		Changes in this update conflict with your recent edits. Balance each conflicted file, and click Okay.
		</div>
		<div class="toolbar-menu">
		    <button class="btn" id="action-abort">Cancel this update</button>
		    <button class="btn" id="action-commit">Okay, accept update</button>
		</div>
	</div>
	<div id="work" class="{{if .Merging.MergingPRNumber}}pr-merge{{else}}not-pr-merge{{end}}">
		<div id="files" class="showing">
			<div id="files-show-tag" class="showing">
				<object class="hidden" type="image/svg+xml" data="/img/file-folder-open.svg">
					Show
				</object>
				<object class="showing" type="image/svg+xml" data="/img/file-folder-closed.svg">Close</object>
			</div>
			<div>These files are changing</div>
			<div>
				<div id="staged-files-list">
				</div>
			</div>
		</div>
		<div id="editor">
			<div id="editor-topbar">
				<div class="toolbar-menu">
					<div class="drop-down pr-merge">
						<button class="btn">Copy</button>
						<div class="hover">
							<a class="btn" id="merge-editor-control-copy-working">My version to incoming</a>
							<a class="btn" id="merge-editor-control-copy-their">Incoming to my version</a>
						</div>
					</div>

					<div class="drop-down">
						<div class="btn">Revert</div>
						<div class="hover">
							<a class="btn pr-merge" id="merge-editor-control-revert-our">My version to my original</a>
							<!-- <a class="btn" id="merge-editor-control-revert-git" disabled>
							Ours to git merge result</a>-->
							<a class="btn pr-merge" id="merge-editor-control-revert-their">Incoming to incoming original</a>

							<a class="btn not-pr-merge" id="merge-editor-control-single-revert-our">To my original</a>
							<a class="btn not-pr-merge" id="merge-editor-control-single-revert-their">To their original</a>
							<a class="btn not-pr-merge" id="merge-editor-control-single-revert-git">To git merge attempt</a>
						</div>
					</div>

					<a class="btn" id="merge-editor-control-save">Save</a>
					<!-- We don't actually require a 'resolve', since we'll commit -am -->
					<a class="btn" id="merge-editor-control-resolve">Mark resolved</a>
					<a class="btn" id="merge-editor-control-delete" disabled style="display: none;">Delete this file</a>
					
				</div>
				<div class="pr-merge" id="merge-instructions">
				</div>
			</div>
			<div id="editor-label-panes" class="pr-merge">
				<div>My version</div>
				<div>Incoming version</div>
			</div>
			<div id="editor-work" class="{{if .Merging.MergingPRNumber}}pr-merge{{else}}not-pr-merge{{end}}">
			</div>
		</div>
	</div>
</main>
<script type="text/hidden" id="ebw-context" data-repo-owner="{{.RepoOwner}}" data-repo-name="{{.RepoName}}" data-page="RepoConflictPage">
</script>
<script type="text/hidden" id="staged-files-data">
{{- .StagedFiles | json | raw -}}
</script>
<script type="text/hidden" id="merging-info">
{{- .Merging | json | raw -}}
</script>

{{template "_footer.html" .}}