{{template "_header.html" .}}
<style type="text/css">
#repo-diff-patch tbody td, #repo-diff-patch tbody th {
	padding: 0;
}
#repo-diff-patch.wordwrap .d2h-code-line-ctn {
	white-space: pre-wrap;
}
#wrap-button {
	position: fixed;
	top: 1em;
	right: 1em;
	width: 2em;
	height: 2em;
	border: 2px solid red;
	background-color: lightgray;
	color: white;
	z-index: 10000;
	cursor: pointer;
}
#wrap-button.wordwrap {
	border-color: green;
}
</style>
<div id="wrap-button" class="wordwrap">
	Wrap
</div>
<main id="repo-diff-patch" class="wordwrap">
</main>


<script type="text/hidden" id="ebw-context" data-repo-owner="{{.RepoOwner}}" data-repo-name="{{.RepoName}}" data-page="">
</script>
<script>
document.addEventListener('DOMContentLoaded', function() {
	document.getElementById('wrap-button').addEventListener('click',
		function(evt) {
			evt.preventDefault(); evt.stopPropagation();
			document.getElementById('repo-diff-patch')
				.classList.toggle('wordwrap');
			document.getElementById('wrap-button')
				.classList.toggle('wordwrap');
		});
	var patch = document.getElementById('patch').innerText;
	if (false) {
		var diffHtml = Diff2Html.getPrettyHtml(
		  patch,
		  {
		  	inputFormat: 'diff', 
		  	showFiles: true, 
		  	matching: 'lines', 
		  	outputFormat: 'side-by-side',
		  	synchronisedScroll: true,
		  }
		);
		document.getElementById("repo-diff-patch").innerHTML = diffHtml;
	} else {
		var diff2htmlUi = new Diff2HtmlUI({diff: patch});
		diff2htmlUi.draw('#repo-diff-patch', {inputFormat: 'diff', showFiles: true, matching: 'lines'});
		// diff2htmlUi.highlightCode('#repo-diff-patch');
	}
});
</script>
<script type="text/hidden" id="patch">
	{{- .Patch.String | raw -}}
</script>
{{template "_footer.html" .}}