{{template "_header.html" .}}
{{template "_nav_main.html" .}}

<!-- Rudimentary way to target repo-flow with step-specific CSS -->
<div data-repo-flow-step="commit"></div>
{{template "_repo-flow.html" .}}

<main id="repo-commit" class="constrain-page center">
	<h1>Commit changes</h1>
	{{if .StatusList.EntryCount}}
		<p>You have changed <span class="repo-commit-number-of-changes">{{.StatusList.EntryCount}} file{{if ne 1 .StatusList.EntryCount}}s{{end}}</span>.</p>
		<ul class="repo-commit-file-list">
		{{range .StatusList.Statuses}}
			<li>
				<span class="repo-commit-changed-file">{{.Filename}}</span> <span class="repo-commit-change-type">({{.StatusType}})</span>
			</li>
		{{end}}
		</ul>

		<form method="post" action="commit">
			<label for="commit_message">Describe your changes.
				<div class="commit-message-label-note">
					Be specific about what you changed. Your future self will thank you.
				</div>
				<textarea name="commit_message" id="commit_message" wordwrap="true">{{.CommitMessage}}</textarea>
			</label>
			<div class="repo-commit-actions">
				<a href="." class="btn btn-cancel">Cancel</a>
				<input type="submit" name="action" value="Commit" class="btn" />
			</div>
		</form>
	{{else}}
		<p>You haven't saved any changes yet, so you have nothing to commit.</p>
		<p><a href="." class="btn">Back to {{.RepoName}}</a></p>

	{{end}}
</main>
{{template "_nav_footer.html" .}}

{{template "_footer.html" .}}
