{{template "_header.html" .}}
{{template "_nav_main.html" .}}

{{$repoOwner := .RepoOwner}}
{{$repoName := .RepoName}}
{{$state := .ERepo.MustRepoState}}


<main id="repo-detail" class="constrain-page">

    <section class="repo-detail-section">
        <div class="header-bar">
            <h1><a class="repo-title" href="/">{{.Repo.Name}}</a></h1>
            <div class="action-group">
                <a href="/repo/{{.RepoOwner}}/{{.Repo.Name}}/" class="btn">Edit</a>
                {{if $state.LocalChanges -}}
                <a href="#" class="btn" id="cancelAllChanges">Cancel all changes</a>
                {{- end}}
            </div>
        </div>
        {{if .Repo.Description}}
        <p>{{.Repo.Description}}</p>
        {{end}}
        <div class="detail-container">

            {{if $state.LocalConflicted}}
                <p>Your repo is in a conflicted state from a merge that isn't complete. <a class="btn" href="/repo/{{.RepoOwner}}/{{.RepoName}}/conflict">You need to complete the merge.</a></p>
            {{else}}
                {{if $state.LocalInSync}}
                    <p>Your book is ready for editing. <a class="btn" href="/repo/{{.RepoOwner}}/{{.RepoName}}/">Edit files</a></p>


                    {{if $state.ParentNotExist}}
                        <p>Your GitHub repo is an original book. There is no 'upstream' book you are contributing to.</p>
                    {{else}}
                        {{if $state.ParentAhead}}
                        <p>Your GitHub repo is behind the book you are contributing to. <div data-instance="RepoMergeButton" data-repo-merge="upstream/master">Update my version from the original</div>
                        </p>
                        {{end}}
                        {{/* same as ParentBehind, but prevents sending one after another */}}
                        {{if .ERepo.CanCreatePR}}
                        <p>You've made changes you've not shared with the book you are contributing to. <a href="/repo/{{.RepoOwner}}/{{.Repo.Name}}/pull/new" class="btn">Submit these changes for Review.</a></p>
                        {{end}}
                        {{if $state.ParentInSync}}
                        <p>Your GitHub repo and the book you are contributing to are up-to-date. Good work.</p>
                        {{end}}
                    {{end}}

                    {{if .PullRequests}}
                        <p>There are {{.PullRequests | len}} Edits for Review. <a href="/repo/{{.RepoOwner}}/{{.Repo.Name}}/pull" class="btn">Review and close these edits.</a></p>
                    {{end}}


                {{else}}
                    {{if $state.LocalChangesStaged}}
                    <p>You have made changes that you can save. <a href="/repo/{{.RepoOwner}}/{{.RepoName}}/commit" class="btn">Save your changes as an Edit Set.</a></p>
                    {{else}}

                        {{if $state.LocalChangesUnstaged}}
                        <p><em>WE WILL AUTOMATICALLY REVERT THESE</em></em>
                        <p>(There are changes that are not staged. You can probably just ignore these: they tend to be artifacts of the book generation process.)</p>
                        {{end}}

                        {{if $state.LocalBehind}}
                            <p>Your GitHub version has been changed, but these changes aren't on this version yet. 
                            <div data-instance="RepoMergeButton" data-repo-merge="origin/master">You need to pull from Github.</div></p>
                        {{else}}
                            {{if $state.LocalAhead}}
                                <p><em>PUSH TO GITHUB HAS FAILED - please contact support.</em></p>
                                <p>There are changes committed here on the server, that haven't been pushed to GitHub. <a class="btn" href="/repo/{{.RepoOwner}}/{{.RepoName}}/push/origin/master">You need to update Github.</a></p>
                            {{end}}
                        {{end}}
                    {{end}}
                {{end}}

            {{end}}

            {{if $state.LocalUnimplemented}}
                <p>Your EBW repo is in a state that it can't handle. You need to report this to the development team.</p>
            {{end}}            
        </div>
    </section>

    {{if .PullRequests}}
    <section class="repo-detail-section">

        <div class="title-links">
            <div><h3>Edits for Review</h3></div>
            <div class="edit-links action-group" >
                <a href="/repo/{{.RepoOwner}}/{{.Repo.Name}}/pull" class="btn">Review submitted edits</a> 
                <a href="/repo/{{.RepoOwner}}//{{.Repo.Name}}/" class="btn">Make my own edits</a>
            </div>
        </div>
        <div class="edits">
            {{range .PullRequests}}
            <div class="pull-request-item">
                <div class="row">
                    <div class="large-10 small-10 columns">
                        <h4><a href="pull/{{.GetNumber}}">{{.GetTitle}}</a> {{if .User}} by {{.User.GetLogin}} ({{.User.GetLogin}}){{end}}</h4>
                    </div>
                    <div class="large-2 small-2 columns right">
                        {{.GetCreatedAt | humantime}}
                    </div>
                </div>
                <div class="row edit-links">
                    <div class="large-10 small-10 columns">
                        <a>3 edits in 2 chapters</a>
                    </div>
                    <div class="large-2 small-2 columns right">
                        <a href="pull/{{.GetNumber}}"> View edits</a>
                    </div>
                </div>
            </div>
        {{end}}
        </div>
    </section>
    {{end}}


    {{if .StagedFiles}}
    <section class="repo-detail-section">
        <div class="title-links">
            <h3>My Edits</h3>
            <a href="/repo/{{.RepoOwner}}/{{.Repo.Name}}/commit" class="btn">Save these changes as an edit set</a>
        </div>
        <ol type="1">
        {{range .StagedFiles}}
            <li class="staged-{{.StatusString}}">{{.Path}}</li>
        {{end}}
        </ol>
        <div class="todo">
        These are the files that are changed on the EBW server, but haven't yet been committed to the repo. <i>Save these changes as an edit set</i> will allow entry of a Commit Message, and will commit the changes to the GitHub repo.
        </div>
    </section>
    {{end}}
 </main>

<script type="text/hidden" id="ebw-context" data-repo-owner="{{.RepoOwner}}" data-repo-name="{{.RepoName}}" data-page="RepoDetailPage">
</script>

{{template "_footer.html" .}}