{{template "_header.html" .}}
{{template "_nav_main.html" . }}

<main>

<h1>Dashboard</h1>


<section>
    <h2>My books</h2>

    <ul class="repo-list">
        {{range .Repos }}
        <li class="repo">
            <div class="repo-details">
                <a class="repo-title" href="/repo/{{.Name}}/update?url={{.HTMLURL}}">{{.Name}}</a></h2>
                <h3><a href="/">UserName</a>'s version, from <a href="/">OrganizationName</a></h3>
                <!-- if {{.Description}} !== <nil> -->
                <p>{{.Description}}</p>
                <!-- endif -->

                <!-- Grab latest commit -->
                <p>Last updated by TheirUserName RelativeTimeAgo.</p>
            </div>
            <p class="repo-manage"><a class="btn" href="/repo/{{.Name}}/update?url={{.HTMLURL}}">Manage</a></p>

        </li>
        {{end -}}
    </ul>

    <nav aria-label="Page navigation" class="action-group l-center">
        <ul>
            <li><a href="/">Previous</a></li>
            <li><a href="/">1</a></li>
            <li><a href="/">2</a></li>
            <li><a href="/">3</a></li>
            <li><a href="/">Next</a></li>
        </ul>
    </nav>
</section>

<section>
    <form class="form-fork" method="post" action="/github/create-fork">
        <h2>Create an Adaptation</h2>
        <label for="repo_name">The base book:
            <input type="text" name="repo_name" id="repo_name" value="" placeholder="e.g. electricbookworks/electric-book" />
        </label>
        <input class="cta" type="submit" value="Create adaptation" />
    </form>
</section>


</main>

{{template "_footer.html" .}}
