{{template "_header.html" .}}
{{template "_nav_main.html" .}}

<main id="repo-conflict">
	<div id="topbar">
		<div>Your repo is in conflict.</div>
		<div class="toolbar-menu">
		    <a class="btn" href="/repo/{{.RepoOwner}}/{{.RepoName}}/conflict/abort">Abort this merge</a>
		    <button class="btn" id="action-commit">Resolve this merge</button>
		</div>
	</div>
	<div id="work">
		<div id="files">
			<div id="files-show-tag" class="showing">
				<object class="hidden" type="image/svg+xml" data="/img/file-folder-open.svg">
					Show
				</object>
				<object class="showing" type="image/svg+xml" data="/img/file-folder-open.svg">Close</object>

 				<!-- <img class="hidden" src="/img/file-folder-open.svg" alt="Show files"/> -->
				<!-- <img class="showing" src="/img/file-folder-closed.svg" alt="Close files" /> -->
			</div>
			<div>These files require attention</div>
			<div>
				<div id="staged-files-list">
				</div>
			</div>
		</div>
		<div id="editor">
			<div id="editor-topbar">
				<div class="toolbar-menu">
					<a class="btn" id="merge-editor-control-save">Save these changes</a>
					<!-- We don't actually require a 'resolve', since we'll commit -am -->
					<a class="btn" id="merge-editor-control-resolve" style="display: none;">Mark resolved</a>
					<a class="btn" id="merge-editor-control-delete" disabled>Delete this file</a>
					<a class="btn" id="merge-editor-control-revert-our">Revert to Ours</a>
					<a class="btn" id="merge-editor-control-revert-their">Revert to Theirs</a>
					<a class="btn" id="merge-editor-control-revert-git" disabled>Revert to Git Merge</a>
				</div>
				<div id="merge-instructions">
				</div>
			</div>
			<div id="editor-work">
			</div>
		</div>
	</div>
</main>
<script type="text/hidden" id="ebw-context" data-repo-owner="{{.RepoOwner}}" data-repo-name="{{.RepoName}}" data-page="RepoConflictPage">
</script>
<script type="text/hidden" id="staged-files-data">
{{- .StagedFiles | json | raw -}}
</script>

{{template "_footer.html" .}}