{{template "_header.html" .}}
{{template "_topbar_repo.html" .}}

<main>

	<h1>Editing {{.RepoName}}</h1>
	<!--<p>Your repo is checked out at <a href="file://{{.Path}}">{{.Path}}</a>.-->


	{{template "_editor_actions.html" .}}

	<h2>Editor</h2>
	<div class="editor" id="editor" ebw-repo="{{.RepoName}}" data-instance="RepoFileEditor">
	</div>

		<div id="pull-requests" class="repo-menu">
			<h1>Changes for Review</h1>
			<div id="pull-request-list">
			</div>
			<div>
			<a href="{{.RepoName}}/pull_new"><button id="pull-request-create">Submit Changes for Review</button></a>
			</div>
		</div>
	</div>
	<ul class="action-group action-group-inline">
		<li>Output:</li>
		<li><button disabled>Web version</button></li>
		<li><button id="repo-print">Screen PDF</button></li>
		<li><button disabled>Print PDF</button></li>
		<li><button disabled>epub</button></li>
	</ul>
	<script>
	document.addEventListener('DOMContentLoaded', function() {
		new RepoEditorPage('{{.RepoName}}');
	});
	</script>

</main>

{{template "_footer.html" .}}
