{{template "_header.html" .}}
{{template "_nav_main.html" .}}

{{$repoOwner := .RepoOwner}}
{{$repoName := .RepoName}}
{{$repoFiles := .RepoFiles}}


<main id="repo-detail" class="constrain-page">
    <section class="repo-detail-section">
        <h3><a class="repo-title" href="/">{{.Repo.Name}}</a></h3>
        {{if .Repo.Description}}
        <p>{{.Repo.Description}}</p>
        {{end}}
        <div class="detail-container">
        {{if .AheadBehind}}
            <h6>Updates to master version available:</h6>
            <p>Your upstream version is {{.AheadBehind.Ahead}} commits ahead of your
            own version. It is {{.AheadBehind.Behind}} commits behind your own version.</p>
            <div class="action-group secondary">
                <a href="#" class="btn">Update my master version</a>
            </div>
        {{end}}   
            <p>You repo state is {{.ERepo.RepoStateString}}</p>
        </div>
    </section>
    {{if .PullRequests}}
    <section class="repo-detail-section">

        <div class="title-links">
            <div><h3>Edits for Review</h3></div>
            <div class="edit-links action-group" >
                <a href="/repo/{{.RepoOwner}}/{{.Repo.Name}}/pull" class="btn">Review submitted edits</a> 
                <a href="/repo/{{.RepoOwner}}//{{.Repo.Name}}/" class="btn">Make my own edits</a>
            </div>
        </div>
        <div class="edits">
            {{range .PullRequests}}
            <div class="pull-request-item">
                <div class="row">
                    <div class="large-10 small-10 columns">
                        <h4><a href="pull/{{.GetNumber}}">{{.GetTitle}}</a> {{if .User}} by {{.User.GetLogin}} ({{.User.GetLogin}}){{end}}</h4>
                    </div>
                    <div class="large-2 small-2 columns right">
                        {{.GetCreatedAt | humantime}}
                    </div>
                </div>
                <div class="row edit-links">
                    <div class="large-10 small-10 columns">
                        <a>3 edits in 2 chapters</a>
                    </div>
                    <div class="large-2 small-2 columns right">
                        <a href="pull/{{.GetNumber}}"> View edits</a>
                    </div>
                </div>
            </div>
        {{end}}
        </div>
    </section>
    {{end}}

    <section class="repo-detail-section">
        <div class="title-links">
            <h3>Files</h3>
            <div class="action-group">
                <a href="/repo/{{.RepoOwner}}/{{.Repo.Name}}/" class="btn">Edit files</a></div>
        </div>
        </div>
        <div class="file-list">
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Change set</th>
                    <th>Last updated by</th>
                </tr>
                </thead>
                <tbody class="file-list">
                {{ range .RepoFiles.Files}}
                <tr>
                    <td><a class="file-item">{{.Name}}</a></td>
                    <td>Change set description here</td>
                    <td>Username</td>
                </tr>
                {{ end }}
                </tbody>
            </table>
        </div>
    </section>
    {{if .StagedFiles}}
    <section class="repo-detail-section">
        <div class="title-links">
            <h3>My Edits</h3>
            <a href="#" class="btn">Save these changes as an edit set</a>
        </div>
        <ol type="1">
        {{range .StagedFiles}}
            <li class="staged-{{.StatusString}}">{{.Path}}</li>
        {{end}}
        </ol>
        <div class="todo">
        These are the files that are changed on the EBW server, but haven't yet been committed to the repo. <i>Save these changes as an edit set</i> will allow entry of a Commit Message, and will commit the changes to the GitHub repo.
        </div>
    </section>
    {{end}}
    {{if .ERepo.HasUpstreamRemote}}
    <section class="repo-detail-section">
        <div class="title-links">
            <h3>My changes</h3>
            <a href="#" class="btn">Submit these changes for review</a>
        </div>

        <div class="todo">
            These are commits on the GitHub repo that haven't yet been submitted for Review. Without using BRANCHES, this section has no meaning...
        </div>
    </section>
    {{end}}
</main>

{{template "_footer.html" .}}