{{template "_header.html" .}}
{{template "_topbar_repo.html" .}}

<main>

	<h1>Editing {{.RepoName}}</h1>
	<!--<p>Your repo is checked out at <a href="file://{{.Path}}">{{.Path}}</a>.-->


	<section class="section-editor" >
		{{template "_editor_actions.html" .}}

		<h2>Editor</h2>
		<div class="editor" id="editor" ebw-repo="{{.RepoName}}" data-instance="RepoFileEditor">
		</div>
	</section>

	{{template "_outputs.html"}}

	{{template "_files.html"}}

	{{template "_repo_commits.html"}}

	{{template "_repo_pull_requests.html"}}

	<script>
	document.addEventListener('DOMContentLoaded', function() {
		new RepoEditorPage('{{.RepoName}}');
	});
	</script>

</main>

{{template "_footer.html" .}}
