{{template "_header.html" .}}
{{template "_nav_main.html" .}}

<main id="repo-diff-viewer">
	<form method="post" action="/repo/{{.RepoOwner}}/{{.RepoName}}/diff-dates" class="top-bar">
		<label>From</label>
		<input type="date" id="from-date" name="from-date" value="{{.FirstCommit.Format "2006-01-02"}}"/>
		<label>To</label>
		<input type="date" id="to-date" name="to-date" value="{{.LastCommit.Format "2006-01-02"}}"/>
		<button type="submit" id="diff-dates-button" class="button">Choose commits between dates</button>
	</form>
	<div class="explain">
		<div>or select specific commits from the lists:</div>
	</div>

	<div class="workspace">
		<div id="commit-from" class="commit-list"> </div>
		<div id="commit-to" class="commit-list"> </div>
	</div>
	<div class="footer">
		<button id="diff-view" class="button" >View Diff</button>
	</div>
</main>
<script type="text/hidden" id="ebw-context" data-repo-owner="{{.RepoOwner}}" data-repo-name="{{.RepoName}}" data-page="RepoDiffViewerPage">
</script>
<script type="text/hidden" id="commit-summaries">
{{- .CommitSummaries | json | raw -}}
</script>
{{template "_nav_footer.html" .}}
{{template "_footer.html" .}}