<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<meta name="title" content="" />
		<meta name="description" content="" />

		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>

<!-- {{template "_header.html" .}} -->

<nav role="banner">
	<ul class="nav-main">
		<li><a href="/" id="logo" class="logo"><img src="/img/electricbookworks.png" alt="">Electric Book Manager</a></li>
		<!-- if changes_to_review -->
		<li><a href="/">Review submissions (1)</a></li>
		<!-- end -->
	</ul>
	<!-- if logged_in -->
	<p>Logged in as <a href="https://github.com/{{.UserName}}"><img class="gravatar" src=""  alt="">{{.UserName}}</a>. <a href="/logoff">Log out</a></p>
	<!-- end -->
</nav>

<!-- {{template "_nav_main.html" . }} -->

<main>
    <h1>Front-end Style Guide</h1>

	<section class="sg-section" id="colours">
		<h2 class="sg-section-header">Colours</h2>
		<div class="sg-item">
			<div class="swatch swatch-primary">$primary</div>
			<div class="swatch swatch-grey">$grey</div>
			<div class="swatch swatch-off-grey">$off-grey</div>
			<div class="swatch swatch-dark-grey">$dark-grey</div>
		</div>
	</section>

    <section class="sg-section" id="typography">
        <h2 class="sg-section-header">Typography</h2>

        <div class="sg-item">
            <h3 class="sg-header">paragraph</h3>
            <p>Lorem ipsum <em>dolor sit amet</em>, consectetur adipisicing elit, sed do eiusmod <strong>tempor incididunt</strong> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa <a href="/">qui officia deserunt mollit</a> anim id est laborum.</p>
        </div>

        <div class="sg-item" id="headers">
            <h3 class="sg-header">headers</h3>

			<p class="sg-note">We use the correct header element for the content, not header-like styles on the wrong element (like a <code>div</code> or a <code>h3</code> with <code>h2</code> styles) .</p>

            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 4</h5>
            <h6>Heading 4</h6>
        </div>

		<div class="sg-item">
			<h3 class="sg-header">logo</h3>
			<a href="/" class="logo"><img src="/img/electricbookworks.png" alt="Electric Book Manager"></a>
		</div>
    </section>

    <section class="sg-section" id="forms">
        <h2 class="sg-section-header">Forms</h2>


        <div class="sg-item" id="buttons">
            <h3 class="sg-header">buttons</h3>
			<p class="sg-note">We use <code>a.btn</code> for navigation things that feel like actions and <code>button</code> for actions.</p>

            <a href="/" class="btn">Make my version</a>
			or
			<button type="button" name="button">Save my changes</button>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">button wide</h3>
            <a href="/" class="btn btn-wide">Read more</a>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">button secondary</h3>
            <a href="/" class="btn btn-secondary">Read more</a>
        </div>
        <div class="sg-item">
            <h3 class="sg-header">button alt</h3>
            <a href="/" class="btn-alt">Read more</a>
        </div>

        <div class="sg-item">
			<p class="sg-note">We wrap <code>input</code>s in a <code>label</code>, and use <code>for</code> and <code>id</code> to link them (in case we miss the wrapping).</p>

            <h3 class="sg-header">checkbox</h3>
            <label for="remember-me">
                <input type="checkbox" id="remember-me" name="remember-me">
                Remember me
            </label>
        </div>

        <div class="sg-item" id="submit">
            <h3 class="sg-header">submit</h3>

			<p class="sg-note">We use <code>input</code>s or <code>button</code>s with <code>type="submit"</code> for form submissions, and use words that describe the action that will happen when the button is pressed.</p>
            <input type="submit" value="Save my work" class="btn" />
			or
			<button type="submit" name="button">Save my work</button>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">textbox</h3>
            <label for="comment-add">
                Add your comment
                <textarea name="comment-add" id="comment-add" cols="30" rows="3"></textarea>
            </label>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">input</h3>
            <label for="book-title">Book title
                <input type="text" id="book-title" name="book-title" />
            </label>
        </div>


        <div class="sg-item">
            <h3 class="sg-header">input wide</h3>
            <label for="username">Username
                <input type="text" id="username" name="username" class="input-wide" />
            </label>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">radio</h3>
            <label for="sg-one">
                <input type="radio" id="sg-one" name="sg">
                One
            </label>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">select</h3>
            <label for="the_choice">Pick one
                <select name="the_choice" id="the_choice" class="input-wide">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                    <option value="other">Maybe</option>
                </select>
            </label>
        </div>

		<div class="sg-item" id="search">
			<h3 class="sg-header">search</h3>
			<p class="sg-note">the search box expands to fit the available space. Limit it by setting the width of the containing <code>form.form-search</code></p>

			<form class="form-search" action="" method="post">
				<label for="search">Search</label>
				<input type="search" placeholder="e.g. My book" />
				<button type="submit">Find</button>
			</form>
		</div>
    </section>

	<section class="sg-section" id="navigation">
		<h2 class="sg-section-header">Navigation</h2>

		<div class="sg-item" id="main-nav">
			<h3 class="sg-header">Main nav</h3>

			<p class="sg-note">We use <code>ul</code>s for navigation to make them easier to use, and wrap them in a <code>nav</code>.</p>

			<nav>
				<ul class="nav-main">
					<li><a href="/" id="logo" class="logo"><img src="/img/electricbookworks.png">Electric Book Manager</a></li>
					<li>Logged in as <a href="https://github.com/{{.UserName}}">{{.UserName}}</a>. <a href="/logoff">Log out</a></li>
				</ul>
			</nav>
		</div>

		<div class="sg-item" id="pagination">
			<h3 class="sg-header">Pagination</h3>
			<nav aria-label="Page navigation">
				<ul class="action-group action-group-inline action-group-general">
					<li><a href="/">Previous</a></li>
					<li><a href="/">1</a></li>
					<li><a href="/">2</a></li>
					<li><a href="/">3</a></li>
					<li><a href="/">Next</a></li>
				</ul>
			</nav>
        </div>

	</section>

	<section class="sg-section" id="dashboard">
		<h2 class="sg-section-header">Dashboard</h2>

		<div class="sg-item" id="repositories">
			<h3 class="sg-header">Repo list</h3>

			<p class="sg-note">Mine, not a fork</p>
			<ul class="repositories">
				<li class="repository">
					<div class="repository-details">
						<h2><a href="/">Book-name</a></h2>
						<p>Description ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					<fieldset class="action-group action-group-inline action-group-main">
						<legend class="visuallyhidden">Book-name:</legend>
						<ul>
							<li><button>Edit</button></li>
						</ul>
					</fieldset>
			    </li>
			</ul>

			<p class="sg-note">Not mine, not a fork, I can't edit</p>
			<ul class="repositories">
				<li class="repository">
					<div class="repository-details">
						<h2>Other-book-name by Other Person or Org</h2>
						<p>Description ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>

					<fieldset class="action-group action-group-inline action-group-main">
						<legend class="visuallyhidden">Other-book-name: </legend>
						<ul >
							<li><button>Edit a copy</button></li>
							<li><button disabled>Edit</button></li>
						</ul>
					</fieldset>
				</li>
			</ul>

			<p class="sg-note">Mine, a fork</p>
			<ul class="repositories">
				<li class="repository">
					<div class="repository-details">
						<h2>My copy of <a href="/">Other-book-name</a> by Other Person or Org</h2>
						<p>Description ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>

					<fieldset class="action-group action-group-inline action-group-main">
						<legend class="visuallyhidden">Other-book-name: </legend>
						<ul>
							<li><button>Edit</button></li>
						</ul>
					</fieldset>
				</li>
			</ul>

			<p class="sg-note"><br />1. The original book(s).<br />2. My copy of the book(s) in my org.<br />3. Not mine, a fork, I can edit (e.g. same org). Can't fork because I have one already.</p>
			<ul class="repositories">
				<li class="repository">
					<div class="repository-details">
						<h2><a href="/">Another-book-name</a> by My Org</h2>
						<p>Description ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>

					<fieldset class="action-group action-group-inline action-group-main">
						<legend class="visuallyhidden">Another-book-name: </legend>
						<ul>
							<li><button disabled>Edit a copy</button></li>
							<li><button>Edit</button></li>
						</ul>
					</fieldset>
				</li>
				<li class="repository">
					<div class="repository-details">
						<h2>My copy of <a href="/">Another-book-name</a> by My Org</h2>
						<p>Description ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>

					<fieldset class="action-group action-group-inline action-group-main">
						<legend class="visuallyhidden">Another-book-name: </legend>
						<ul class="action-group action-group-inline action-group-main">
							<li><button>Edit</button></li>
						</ul>
					</fieldset>
				</li>
				<li class="repository">
					<div class="repository-details">
						<h2>Another Person's copy of <a href="/">Another-book-name</a> by My Org</h2>
						<p>Description ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>

					<fieldset class="action-group action-group-inline action-group-main">
						<legend class="visuallyhidden">Another-book-name: </legend>
						<ul>
							<li><button disabled>Edit a copy</button></li>
							<li><button>Edit</button></li>
						</ul>
					</fieldset>
				</li>
			</ul>

			<p class="sg-note">My org's book, I have a fork, PRs open</p>
			<ul class="repositories">
				<li class="repository">
					<div class="repository-details">
						<h2><a href="/">Another-book-name</a> by My Org</h2>
						<p>Description ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>

					<fieldset class="action-group action-group-inline action-group-main">
						<legend class="visuallyhidden">Another-book-name: </legend>
						<ul>
							<li><a class="btn" href="/">Review Submissions (2)</a></li>
							<li><button disabled>Edit a copy</button></li>
							<li><button>Edit</button></li>
						</ul>
				</li>
			</ul>

			<p class="sg-note">My org's book, I don't have a fork, no PRs</p>
			<ul class="repositories">
				<li class="repository">
					<div class="repository-details">
						<h2><a href="/">Another-book-name</a> by My Org</h2>
						<p>Description ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
					</div>
					
					<fieldset class="action-group action-group-inline action-group-main">
						<legend class="visuallyhidden">Another-book-name: </legend>
						<ul>
							<li><button>Edit a copy</button></li>
							<li><button>Edit</button></li>
						</ul>
				</li>
			</ul>

		</div>

		<div class="sg-item" id="make-a-new-copy">
			<h3 class="sg-header">Edit a copy</h3>

			<p class="sg-note">This is shown on a new page, after hitting "Edit a copy" from the book listing.</p>

			<h1>Edit a copy</h2>
			<h2>Other-book-name by Other Person or Org</h2>

			<form class="form-new-copy" action="" method="post">
				<p>I'm making:</p>

				<label class="label-wide">
					<input type="radio" id="translation" value="translation" name="copy-type" />
					<strong>editorial changes.</strong>
				</label>
				<p>Your copy of the book will receive updates from the original.</p>

				<label class="label-wide">
					<input type="radio" id="translation" value="translation" name="copy-type" />
					<strong>a translation:</strong> the same content in a different language.
				</label>
				<p>Your copy of the book will receive updates from the original.</p>

				<label class="label-wide">
					<input type="radio" id="adaptation" value="adaptation" name="copy-type" />
					<strong>an adaptation:</strong> a new book based on an old one.
				</label>
				<p>Your copy of the book won't receive updates from the original.</p>

				<ul class="action-group action-group-inline action-group-main">
					<li><input type="submit" value="Edit a copy" /></li>
					<li><a href="/">Go back to the list of my Electric Books</a></li>
				</ul>
			</form>




		</div>



	</section>


	<section class="sg-section" id="pull-request-related">
		<h2 class="sg-section-header">Pull Request Related</h2>

		<div class="sg-item" id="pull-requests">
			<h3 class="sg-header">Pull requests</h3>
			<p class="sg-note">Lives at bottom of the page.</p>

			<div class="pull-request">
				<div class="commit-details">
					<h3>Changes</h3>

					<p>4 changes in 2 files</p>
					<ul>
						<li>Hello World (01.md)</li>
						<li>Goodbye World (02.md)</li>
					</ul>
				</div>
				<div class="action">
					<button>Submit changes for review</button>
				</div>
			</div>
		</div>

		<div class="sg-item" id="review-pull-requests">
			<h3 class="sg-header">Review submissions</h3>

			<p class="sg-note">This is shown after the user hits "Review submissions (x)" in the header: it's a list of PRs. The <code>title</code> and <code>h1</code> of the page match the link text that they just clicked, so that they know they're in the right place. "To review" is open PRs; "Reviewed" is closed PRs. The links in each block show the details of the PR. The <code>li</code> gets <code>submission-accepted</code> or <code>submission-rejected</code> depending on the state of the PR.</p>

			<section class="repositories-pull-requests">

				<h1>To review</h1>

				<ul class="repositories">
					<li class="repository">
						<h2><a href="/">Another-book-name</a> by My Org</h2>
						<ul class="repository-pull-requests">
							<li class="repository-pull-request">
								<div class="repository-pull-request-details">
									<h3><a href="/">Submission Title 7</a> submitted by Another Person</h4>
										<p>Updated 4 days ago by Yet Another Person </p>
								</div>
								<ul class="action-group action-group-inline action-group-main">
									<li><a href="/">View the discussion <span class="visuallyhidden">of Title 7 </span> on GitHub</a></li>
									<li><a class="btn" href="#review-submitted-changes">Review submission Title 7 </a></li>
								</ul>
							</li>
							<li class="repository-pull-request">
								<div class="repository-pull-request-details">
									<h3><a href="/">Submission Title 8</a> submitted by Another Person</h4>
										<p>Updated 4 days ago by Yet Another Person </p>
								</div>
								<ul class="action-group action-group-inline action-group-main">
									<li><a href="/">View the discussion <span class="visuallyhidden">of Title 8 </span> on GitHub</a></li>
									<li><a class="btn" href="#review-submitted-changes">Review submission Title 8 </a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="repository">
						<h2>My copy of <a href="/">Another-book-name</a> by My Org</h2>
						<ul class="repository-pull-requests">
							<li class="repository-pull-request">
								<div class="repository-pull-request-details">
									<h3><a href="/">Submission Title 9</a> submitted by Another Person</h3>
										<p>Updated 4 days ago by Yet Another Person </p>
								</div>
								<ul class="action-group action-group-inline action-group-main">
									<li><a href="/">View the discussion <span class="visuallyhidden">of Title 9 </span> on GitHub</a></li>
									<li><a class="btn" href="#review-submitted-changes">Review submission Title 9 </a></li>
								</ul>
							</li>
							<li class="repository-pull-request">
								<div class="repository-pull-request-details">
									<h3><a href="/">Submission Title 10</a> submitted by Another Person</h3>
										<p>Updated 4 days ago by Yet Another Person </p>
								</div>
								<ul class="action-group action-group-inline action-group-main">
									<li><a href="/">View the discussion <span class="visuallyhidden">of Title 10</span> on GitHub</a></li>
									<li><a class="btn" href="#review-submitted-changes">Review submission Title 10</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="repository">
						<h2>Another Person's copy of <a href="/">Another-book-name</a> by My Org</h2>
						<ul class="repository-pull-requests">
							<li class="repository-pull-request">
								<div class="repository-pull-request-details">
									<h3><a href="/">Submission Title 11</a> submitted by Another Person</h3>
										<p>Updated 4 days ago by Yet Another Person </p>
								</div>
								<ul class="action-group action-group-inline action-group-main">
									<li><a href="/">View the discussion <span class="visuallyhidden">of Title 11</span> on GitHub</a></li>
									<li><a class="btn" href="#review-submitted-changes">Review submission Title 11</a></li>
								</ul>
							</li>
							<li class="repository-pull-request">
								<div class="repository-pull-request-details">
									<h3><a href="/">Submission Title 12</a> submitted by Another Person</h3>
										<p>Updated 4 days ago by Yet Another Person </p>
								</div>
								<ul class="action-group action-group-inline action-group-main">
									<li><a href="/">View the discussion <span class="visuallyhidden">of Title 12</span> on GitHub</a></li>
									<li><a class="btn" href="#review-submitted-changes">Review submission Title 12</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>

			</section>

			<section class="repositories-pull-requests repositories-pull-requests-reviewed">

				<h1>Reviewed</h1>

				<ul class="repositories">
					<li class="repository">
						<h2><a href="/">Another-book-name</a> by My Org</h2>

						<ul class="repository-pull-requests">
							<li class="repository-pull-request repository-pull-request-accepted">
								<div class="repository-pull-request-details">
									<h3><a href="/">Submission Title 1</a> submitted by Another Person</h3>
										<p><span class="submission-status">Accepted</span> 4 days ago by Yet Another Person </p>
								</div>
								<ul class="action-group action-group-inline action-group-main">
									<li><a href="/">View the discussion on GitHub</a></li>
									<li><a href="#review-submitted-changes">View <span class="submission-status">accepted</span> Submission Title 1 changes</a></li>
								</ul>
							</li>
							<li class="repository-pull-request repository-pull-request-rejected">
								<div class="repository-pull-request-details">
									<h3><a href="/">Submission Title 2</a> submitted by Another Person</h3>
										<p><span class="submission-status">Rejected</span> 4 days ago by Yet Another Person </p>
								</div>
								<ul class="action-group action-group-inline action-group-main">
									<li><a href="/">View the discussion on GitHub</a></li>
									<li><a href="#review-submitted-changes">View <span class="submission-status">rejected</span> Submission Title 2 changes</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="repository submission-accepted">
						<h2>My copy of <a href="/">Another-book-name</a> by My Org</h2>

						<ul class="repository-pull-requests">
							<li class="repository-pull-request repository-pull-request-accepted">
								<div class="repository-pull-request-details">
									<h3><a href="/">Submission Title 3</a> submitted by Another Person</h3>
										<p><span class="submission-status">Accepted</span> 4 days ago by Yet Another Person </p>
								</div>
								<ul class="action-group action-group-inline action-group-main">
									<li><a href="/">View the discussion on GitHub</a></li>
									<li><a href="#review-submitted-changes">View <span class="submission-status">accepted</span> Submission Title 3 changes</a></li>
								</ul>
							</li>
							<li class="repository-pull-request repository-pull-request-rejected">
								<div class="repository-pull-request-details">
									<h3><a href="/">Submission Title 4</a> submitted by Another Person</h3>
										<p><span class="submission-status">Rejected</span> 4 days ago by Yet Another Person </p>
								</div>
								<ul class="action-group action-group-inline action-group-main">
									<li><a href="/">View the discussion on GitHub</a></li>
									<li><a href="#review-submitted-changes">View <span class="submission-status">rejected</span> Submission Title 4 changes</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="repository submission-rejected">
						<h2>Another Person's copy of <a href="/">Another-book-name</a> by My Org</h2>

						<ul class="repository-pull-requests">
							<li class="repository-pull-request repository-pull-request-accepted">
								<div class="repository-pull-request-details">
									<h3><a href="/">Submission Title 5</a> submitted by Another Person</h3>
										<p><span class="submission-status">Accepted</span> 4 days ago by Yet Another Person </p>
								</div>
								<ul class="action-group action-group-inline action-group-main">
									<li><a href="/">View the discussion on GitHub</a></li>
									<li><a href="#review-submitted-changes">View <span class="submission-status">accepted</span> Submission Title 5 changes</a></li>
								</ul>
							</li>
							<li class="repository-pull-request repository-pull-request-rejected">
								<div class="repository-pull-request-details">
									<h3><a href="/">Submission Title 6</a> submitted by Another Person</h3>
										<p><span class="submission-status">Rejected</span> 4 days ago by Yet Another Person </p>
								</div>
								<ul class="action-group action-group-inline action-group-main">
									<li><a href="/">View the discussion on GitHub</a></li>
									<li><a href="#review-submitted-changes">View <span class="submission-status">rejected</span> Submission Title 6 changes</a></li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>

			</section>
		</div>
	</section>

	<section class="sg-section" id="components">
		<h2 class="sg-section-header">Components</h2>

		<div class="sg-item" id="file-list">
			<h3 class="sg-header">File list</h3>

			<p>If all we can get is file names, show as a list in a nav, with the file names as links. We hide <code>.file-list-technical</code> items (like configs) by default. We can show them by adding <code>.file-list-admin</code> to the <code>nav</code>. We use the `_prose.yml`, if it's present, to determine which files are `file-list-technical`. File links take you to the editor with that file open.</p>

			<section>
				<h2>Files</h2>
				<h3>Book-name</h3>
				<nav class="file-list file-list-admin">
					<ul class="action-group action-group-block files">
						<li class="folder file-list-technical"><a href="/:repo_name/files/:folder_name">_configs</a></li>
						<li class="folder"><a href="/:repo_name/files/:folder_name">_data</a></li>
						<li class="folder file-list-technical"><a href="/:repo_name/files/:folder_name">_includes</a></li>
						<li class="folder file-list-technical"><a href="/:repo_name/files/:folder_name">_layouts</a></li>
						<li class="folder file-list-technical"><a href="/:repo_name/files/:folder_name">_output</a></li>
						<li class="folder"><a href="/:repo_name/files/:folder_name">_sass</a></li>
						<li class="folder file-list-technical"><a href="/:repo_name/files/:folder_name">assets/js</a></li>
						<li class="folder"><a href="/:repo_name/files/:folder_name">book</a></li>
						<li class="file file-list-technical"><a href="/:repo_name/files/:file_name">.gitattributes</a></li>
						<li class="file file-list-technical"><a href="/:repo_name/files/:file_name">.gitignore</a></li>
						<li class="file file-list-technical"><a href="/:repo_name/files/:file_name">Gemfile</a></li>
						<li class="file file-list-technical"><a href="/:repo_name/files/:file_name">Gemfile.lock</a></li>
						<li class="file"><a href="/:repo_name/files/:file_name">README.md</a></li>
						<li class="file"><a href="/:repo_name/files/:file_name">_config.yml</a></li>
						<li class="file file-list-technical"><a href="/:repo_name/files/:file_name">_prose.yml</a></li>
						<li class="file"><a href="/:repo_name/files/:file_name">index.md</a></li>
						<li class="file file-list-technical"><a href="/:repo_name/files/:file_name">run-linux.sh</a></li>
						<li class="file file-list-technical"><a href="/:repo_name/files/:file_name">run-mac.command</a></li>
						<li class="file file-list-technical"><a href="/:repo_name/files/:file_name">run-windows.bat</a></li>
						<li class="file"><a href="/:repo_name/files/:file_name">search.md</a></li>
					</ul>
				</nav>
			</section>

			<p class="sg-note">Folder links follow GitHub's behaviour: a new screen showing the inside of that folder.</p>

			<section>
				<h2>Files</h2>
				<h3>Book-name / book /</h3>
				<nav class="file-list file-list-admin">
					<ul class="action-group action-group-block files">
						<li class="folder file-list-technical"><a href="/:repo_name/files/:folder_name">fonts</a></li>
						<li class="folder"><a href="/:repo_name/files/:folder_name">images</a></li>
						<li class="folder"><a href="/:repo_name/files/:folder_name">styles</a></li>
						<li class="folder"><a href="/:repo_name/files/:folder_name">text</a></li>
						<li class="file"><a href="/:repo_name/files/:file_name">index.md</a></li>
						<li class="file file-list-technical"><a href="/:repo_name/files/:file_name">render-mathjax.js</a></li>
					</ul>
				</nav>
			</section>

			<p class="sg-note">Add new folder / new file links appear at the bottom of the list.</p>

			<section>
				<h2>Files</h2>
				<h3>Book-name / foldername /</h3>
				<nav class="file-list file-list-admin">
					<ul class="action-group action-group-block files">
						<li class="folder"><a href="/:repo_name/files/:folder_name">folder</a></li>
						<li class="file"><a href="/:repo_name/files/:file_name">file</a></li>
						<li class="file-or-folder-add"><a href="/:repo_name/files/new">Add file or folder</a></li>
					</ul>
				</nav>
			</section>

			<section id="files-with-nice-names">
				<p class="sg-note">If we can pull the nice name from <code>title</code> in the frontmatter of files that have it, we should show that too, to make them more human-friendly.</p>
				<h2>Files</h2>
				<h3>Book-name</h3>
				<nav class="file-list">
					<ul class="action-group action-group-block files">
						<li class="file"><a href="/:repo_name/files/:file_name">index.md <span class="file-nice-name">(Series home)</span></a></li>
						<li class="file"><a href="/:repo_name/files/:file_name">01.md <span class="file-nice-name">(Quite  a long chapter name if you think about it, and this file should really be inside the book/text folder)</span></a></li>
						<li class="file"><a href="/:repo_name/files/:file_name">not-index.md <span class="file-nice-name">(Not series home)</span></a></li>
					</ul>
				</nav>
			</section>

			<section id="files-with-nice-names-and-times">
				<p class="sg-note">If we can pull the times of last changes, as they do on repo listing on GitHub, we should show that too.</p>
				<h2>Files</h2>
				<h3>Book-name</h3>
				<nav class="file-list">
					<ul class="action-group action-group-block files">
						<li class="file"><a href="/:repo_name/files/:file_name">index.md <span class="file-nice-name">(Series home)</span> <span class="file-change-time">1 day ago</span></a></li>
						<li class="file"><a href="/:repo_name/files/:file_name">01.md <span class="file-nice-name">(Quite  a long chapter name if you think about it, and this file should really be inside the book/text folder)</span> <span class="file-change-time">3 weeks ago</span></a></li>
						<li class="file"><a href="/:repo_name/files/:file_name">not-index.md <span class="file-nice-name">(Not series home)</span> <span class="file-change-time">5 months ago</span></a></li>
						<li class="file"><a href="/:repo_name/files/:file_name">not-index-either.md <span class="file-nice-name">(Not series home either)</span> <span class="file-change-time">7 years ago</span></a></li>
					</ul>
				</nav>
			</section>
			<section id="files-with-lots">
				<p class="sg-note">If we can pull the times of last changes, we probably have the commit, so we can get the name too.</p>
				<h2>Files</h2>
				<h3>Book-name</h3>
				<nav class="file-list">
					<ul class="action-group action-group-block files">
						<li class="file"><a href="/:repo_name/files/:file_name">index.md <span class="file-nice-name">(Series home)</span> <span class="file-change-time">1 day ago by Person</span></a></li>
						<li class="file"><a href="/:repo_name/files/:file_name">01.md <span class="file-nice-name">(Quite  a long chapter name if you think about it, and this file should really be inside the book/text folder)</span> <span class="file-change-time">3 weeks ago by Other Person</span></a></li>
						<li class="file"><a href="/:repo_name/files/:file_name">not-index.md <span class="file-nice-name">(Not series home)</span> <span class="file-change-time">5 months ago by Person</span></a></li>
						<li class="file"><a href="/:repo_name/files/:file_name">not-index-either.md <span class="file-nice-name">(Not series home either)</span> <span class="file-change-time">7 years ago by Another Person</span></a></li>
					</ul>
				</nav>
			</section>

			<section>
				<h2>Files</h2>
				<h3>Book-name</h3>
				<p>We use <a href="https://github.com/primer/octicons">Octicons</a> for file lists. SVGs are placed in <code>src/img</code>, then we run <code>gulp svgmin</code> to optimise them and put them in <code>public/css/img</code>, where we can use them as background images in styles.</p>
				<nav class="file-list file-list-admin">
					<ul class="action-group action-group-block files">
						<li class="folder file-list-technical"><a href="/:repo_name/files/:folder_name">_folder</a></li>
						<li class="file file-list-technical"><a href="/:repo_name/files/:file_name">file</a></li>
						<li class="file-or-folder-add"><a href="/:repo_name/files/new">Add file or folder</a></li>
					</ul>
				</nav>
			</section>
		</div>

		<div class="sg-item" id="split-header">
			<h3 class="sg-header">Split header</h3>

			<header class="header-split">
				<h2>Editor</h2>
				<ul class="action-group action-group-inline">
					<li><button data-event="click:save" data-set="save">Save</button></li>
					<li><button data-event="click:undo" data-set="undo">Undo</button></li>
					<li><button data-event="click:delete" title="Delete">Delete 01.md</button></li>
				</ul>
			</header>
		</div>


		<div class="sg-item" id="notification">
			<h3 class="sg-header">Notification</h3>

				<div class="notification notification-success">
					Successfully authorised the Electric Book Manager on GitHub.
				</div>

				<div class="notification notification-information">
					There are updates available to Other-book-name by Other Person or Org. We need to <a href="/">update your version</a> before you can continue.
				</div>

				<div class="notification notification-error">
					Something went wrong trying to authorise the Electric Book Manager on GitHub. Please <a href="/">try again</a>.
				</div>
		</div>

		<div class="sg-item" id="modal">
			<h3 class="sg-header">Modal</h3>

			<p class="sg-note">Scroll to the top of the page and add the class <code>modal-open</code> to the <code>body</code> element to see the modal in action.</p>

				<div class="modal">
					<div class="modal-content">
						<p>Are you sure you want to leave this page? You'll lose any unsaved changes.</p>
						<ul class="action-group action-group-inline action-group-main">
							<li><button>Yes, leave this page</button></li>
							<li><button class="btn-secondary">No, don't leave yet</button></li>
						</ul>
					</div>
				</div>
		</div>
	</section>

	<section class="sg-section" id="the-editor">
		<h2 class="sg-section-header">The Editor</h2>

		<div class="sg-item" id="make-a-commit">
			<h3 class="sg-header">Make a commit</h3>

			<ul class="action-group action-group-inline action-group-main">
				<li><a href="/" class="btn">Commit changes</a></li>
				<li><a href="/">Don't commit changes yet</a></li>
			</ul>
		</div>

		<div class="sg-item" id="commit-message">
			<h3 class="sg-header">Commit message</h3>

			<label class="label-wide" for="commit-message">Short description of the changes you made</label>
            <input type="text" id="commit-message" name="commit-message" class="commit-message" placeholder="e.g. grammar and spelling fixes">
		</div>

		<div class="sg-item" id="repo-actions-output">
			<h3 class="sg-header">Repo actions: output</h3>

			<p class="sg-note">Action groups live as <code>ul</code>s inside of <code>fieldset</code>s with a <code>legend</code>. They live at the bottom of the editor.</p>

			<fieldset class="action-group action-group-inline">
				<legend>Output as:</legend>
				<ul>
					<li><button>Website</button></li>
					<li><button id="repo-print">Screen PDF</button></li>
					<li><button>Print PDF</button></li>
					<li><button disabled>epub</button></li>
				</ul>
			</fieldset>
		</div>

		<div class="sg-item" id="actions">
			<h3 class="sg-header">Actions</h3>

			<fieldset class="action-group action-group-inline action-group-main">
				<legend class="visuallyhidden">Electric Book Actions:</legend>
				<ul>
					<li><button data-event="click:save" data-set="save">Save</button></li>
					<li><button data-event="click:undo" data-set="undo">Undo</button></li>
					<li><button data-event="click:delete">Delete</button></li>
				</ul>
			</fieldset>
		</div>

		<div class="sg-item" id="editor-container">
			<h3 class="sg-header">Editor container</h3>
			<div class="editor">
				{{/* Editor contents */}}
			</div>
		</div>


	</section>

</main>

<!-- {{template "_footer.html" .}} -->

<footer role="contentinfo">
	<p><a href="http://electricbook.works/">Help</a></p>
</footer>

</body>
</html>
