<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<meta name="title" content="" />
		<meta name="description" content="" />

		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>

<!-- {{template "_header.html" .}} -->

<nav role="banner">
	<ul class="nav-main">
		<li><a href="/" id="logo" class="logo"><img src="/img/electricbookworks.png">Electric Book Manager</a></li>
		<!-- if changes_to_review -->
		<li><a href="#">Review submitted changes (1)</a></li>
		<!-- end -->
	</ul>
	<!-- if logged_in -->
	<p>Logged in as <a href="https://github.com/{{.UserName}}"><img class="gravatar" src="">{{.UserName}}</a>. <a href="/logoff">Log out</a></p>
	<!-- end -->
</nav>

<!-- {{template "_nav_main.html" . }} -->

<main>
    <h1>Front-end Style Guide</h1>

	<section class="sg-section">
		<h2 class="sg-section-header">Colours</h2>
		<div class="sg-item">
			<div class="swatch swatch-primary">$primary</div>
			<div class="swatch swatch-grey">$grey</div>
			<div class="swatch swatch-off-grey">$off-grey</div>
			<div class="swatch swatch-dark-grey">$dark-grey</div>
		</div>
	</section>

    <section class="sg-section">
        <h2 class="sg-section-header">Typography</h2>

        <div class="sg-item">
            <h3 class="sg-header">paragraph</h3>
            <p>Lorem ipsum <em>dolor sit amet</em>, consectetur adipisicing elit, sed do eiusmod <strong>tempor incididunt</strong> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa <a href="#">qui officia deserunt mollit</a> anim id est laborum.</p>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">headers</h3>
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 4</h5>
            <h6>Heading 4</h6>
        </div>
    </section>

    <section class="sg-section">
        <h2 class="sg-section-header">Forms</h2>

        <div class="sg-item">
            <h3 class="sg-header">button</h3>
            <a href="#" class="btn">Read more</a>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">button wide</h3>
            <a href="#" class="btn btn-wide">Read more</a>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">button secondary</h3>
            <a href="#" class="btn btn-secondary">Read more</a>
        </div>
        <div class="sg-item">
            <h3 class="sg-header">button alt</h3>
            <a href="#" class="btn-alt">Read more</a>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">checkbox</h3>
            <label for="remember-me">
                <input type="checkbox" id="remember-me" name="remember-me">
                Remember me
            </label>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">submit</h3>
            <input type="submit" value="Submit" class="btn" />
        </div>

        <div class="sg-item">
            <h3 class="sg-header">textbox</h3>
            <label for="comment-add">
                Add your comment
                <textarea name="comment-add" id="comment-add" cols="30" rows="3"></textarea>
            </label>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">input</h3>
            <label for="book-title">Book title
                <input type="text" id="book-title" name="book-title" />
            </label>
        </div>


        <div class="sg-item">
            <h3 class="sg-header">input wide</h3>
            <label for="username">Username
                <input type="text" id="username" name="username" class="input-wide" />
            </label>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">radio</h3>
            <label for="sg-one">
                <input type="radio" id="sg-one" name="sg">
                One
            </label>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">select</h3>
            <label for="the_choice">Pick one
                <select name="the_choice" id="the_choice" class="input-wide">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                    <option value="other">Maybe</option>
                </select>
            </label>
        </div>

		<div class="sg-item" id="search">
			<h3 class="sg-header">search</h3>
			<p class="sg-note">the search box expands to fit the available space. Limit it by setting the width of the containing <code>form.form-search</code></p>

			<form class="form-search" action="" method="post">
				<label for="search">Search</label>
				<input type="search" placeholder="e.g. My book" />
				<button>Find</button>
			</form>
		</div>
    </section>

    <section class="sg-section">
        <h2 class="sg-section-header">Other</h2>

        <div class="sg-item">
            <h3 class="sg-header">logo</h3>
            <a href="#" class="logo"><img src="/img/electricbookworks.png" alt="Electric Book Manager"></a>
        </div>
	</section>

	<section class="sg-section">
		<h2 class="sg-section-header">Components</h2>

		<div class="sg-item">
			<h3 class="sg-header">Main nav</h3>

			<ul class="nav-main">
				<li><a href="/" id="logo" class="logo"><img src="/img/electricbookworks.png">Electric Book Manager</a></li>
				<li>Logged in as <a href="https://github.com/{{.UserName}}">{{.UserName}}</a>. <a href="/logoff">Log out</a></li>
			</ul>
		</div>

		<div class="sg-item" id="books-with-prs">
			<h3 class="sg-header">Books with PRs</h3>

			<ul class="ebm-repos">
				<li class="ebm-repo">
					<section>
			            <h2><a href="#">Repo-name-that-might-be-longish</a></h2>
						<p><strong>Your version</strong> / <strong>NiceName (username)</strong>'s version from OrganizationName</p>

						<p>Description ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

						<p>Updated 1 week ago by NiceName (username)</p>

						<a class="btn" href="#">Manage book</a>
					</section>
			    </li>
				<li class="ebm-repo">
					<section>
			            <h2><a href="#">Repo-name-that-might-be-longish</a></h2>
						<p><strong>Your version</strong> / <strong>NiceName (username)</strong>'s version from OrganizationName</p>

						<p>Description ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

						<p>Updated 1 week ago by NiceName (username)</p>

						<a class="btn" href="#">Manage book</a>
					</section>
					<section>
						<h3>Changes submitted for review (1)</h3>
						<ul class="ebm-pull-requests">
							<li class="ebm-pull-request">
								<h4><a href="#">PR Title</a> submitted by Nice Name Too (usernametoo)</h4>
								<p>Updated 3 days ago by Nice Name Three (usernamethree) </p>
								<p><a href="#">View the discussion on GitHub</a></p>
							</li>
						</ul>
					</section>
			    </li>
				<li class="ebm-repo">
					<section>
			            <h2><a href="#">Repo-name-that-might-be-longish</a></h2>
						<p><strong>Your version</strong> / <strong>NiceName (username)</strong>'s version from OrganizationName</p>

						<p>Description ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

						<p>Updated 1 week ago by NiceName (username)</p>

						<a class="btn" href="#">Manage book</a>
					</section>
					<section>
						<h3>Changes submitted for review (3)</h3>
						<ul class="ebm-pull-requests">
							<li class="ebm-pull-request">
								<h4><a href="#">PR Title</a> submitted by Nice Name Too (usernametoo)</h4>
								<p>Updated 3 days ago by Nice Name Three (usernamethree) </p>
								<p><a href="#">View the discussion on GitHub</a></p>
							</li>
							<li class="ebm-pull-request">
								<h4><a href="#">PR Title</a> submitted by Nice Name Too (usernametoo)</h4>
								<p>Updated 3 days ago by Nice Name Three (usernamethree) </p>
								<p><a href="#">View the discussion on GitHub</a></p>
							</li>
							<li class="ebm-pull-request">
								<h4><a href="#">PR Title</a> submitted by Nice Name Too (usernametoo)</h4>
								<p>Updated 3 days ago by Nice Name Three (usernamethree) </p>
								<p><a href="#">View the discussion on GitHub</a></p>
							</li>
						</ul>
					</section>
			    </li>
			</ul>
		</div>

		<div class="sg-item">
            <h3 class="sg-header">Pagination</h3>
			<nav>
				<ul class="action-group action-group-inline action-group-general">
					<li><a href="#">Previous</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</nav>
        </div>

		<div class="sg-item">
			<h3 class="sg-header">Make a commit</h3>

			<ul class="action-group action-group-inline action-group-main">
				<li><a href="#" class="btn">Save as a new version of the book</a></li>
				<li><a href="#">Don't make a new version yet</a></li>
			</ul>
		</div>

		<div class="sg-item">
			<h3 class="sg-header">Commit message</h3>

			<label class="label-wide" for="commit-message">Short description of the changes you made</label>
            <input type="text" id="commit-message" name="commit-message" class="commit-message" placeholder="e.g. grammar and spelling fixes">
		</div>

		<div class="sg-item">
			<h3 class="sg-header">Repo actions: output</h3>

			<p class="sg-note">Lives at the bottom of the editor.</p>

			<ul class="action-group action-group-inline">
				<li>Output:</li>
				<li><button>Web version</button></li>
				<li><button id="repo-print">Screen PDF</button></li>
				<li><button>Print PDF</button></li>
				<li><button disabled>epub</button></li>
			</ul>
		</div>

		<div class="sg-item">
			<h3 class="sg-header">Repo actions</h3>

			<ul class="action-group action-group-inline action-group-main">
				<li><button data-event="click:save" data-set="save">Save</button></li>
				<li><button data-event="click:undo" data-set="undo">Undo</button></li>
				<li><button data-event="click:delete">Delete</button></li>
			</ul>
		</div>

		<div class="sg-item">
			<h3 class="sg-header">Editor container</h3>
			<div class="editor">
				{{/* Editor contents */}}
			</div>
		</div>

		<div class="sg-item">
			<h3 class="sg-header">Pull request</h3>
			<p class="sg-note">Live at bottom of the page.</p>

			<div class="pull-request">
				<div class="commit-details">
					<h3>Changes</h3>

					<p>4 changes in 2 files</p>
					<ul>
						<li>Hello World (01.md)</li>
						<li>Goodbye World (02.md)</li>
					</ul>
				</div>
				<div class="action">
					<button>Submit changes for review</button>
				</div>
			</div>
		</div>

		<div class="sg-item">
			<h3 class="sg-header">File list</h3>

			<ul class="action-group action-group-block">
				<li><a href="#">0-0-cover.md</a></li>
				<li><a href="#">0-1-titlepage.md</a></li>
				<li><a href="#">0-2-copyright.md</a></li>
				<li><a href="#">0-3-contents.md</a></li>
			</ul>
		</div>

		<div class="sg-item">
			<h3 class="sg-header">Split header</h3>

			<header class="header-split">
				<h2>Editor</h2>
				<ul class="action-group action-group-inline">
					<li><button data-event="click:save" data-set="save">Save</button></li>
					<li><button data-event="click:undo" data-set="undo">Undo</button></li>
					<li><button data-event="click:delete" title="Delete">Delete 01.md</button></li>
				</ul>

			</header>
		</div>

		<div class="sg-item" id="review-submitted-changes">
			<h3 class="sg-header">Review submitted changes</h3>

			<p class="sg-note">This is shown after the user hits "Review submitted changes (x)" in the header: it's a list of PRs. The <code>title</code> and <code>h1</code> of the page match the link text that they just clicked, so that they know they're in the right place. "To review" is open PRs; "Reviewed" is closed PRs. The links in each block show the details of the PR. The <code>li</code> gets <code>submission-accepted</code> or <code>submission-rejected</code> depending on the state of the PR.</p>

			<h2>To review</h2>

			<ul class="electric-books">
				<li class="electric-book">
					<div class="electric-book-details">
						<h2><a href="/">Another-book-name</a> by My Org</h2>
					</div>

					<p><a class="btn" href="/">Review submitted changes (2)</a></p>
				</li>
				<li class="electric-book">
					<div class="electric-book-details">
						<h2>My version of <a href="/">Another-book-name</a> by My Org</h2>
					</div>

					<p><a class="btn" href="/">Review submitted changes (2)</a></p>
				</li>
				<li class="electric-book">
					<div class="electric-book-details">
						<h2>Another Person's version of <a href="/">Another-book-name</a> by My Org</h2>
					</div>

					<p><a class="btn" href="/">Review submitted changes (2)</a></p>
				</li>
			</ul>

			<h2>Reviewed</h2>

			<ul class="electric-books electric-books-reviewed">
				<li class="electric-book submission-accepted">
					<div class="electric-book-details">
						<h2><a href="/">Another-book-name</a> by My Org</h2>
					</div>

					<p><a class="submission-status" href="/">Submission accepted</a> 3 days ago by Another Person</p>
				</li>
				<li class="electric-book submission-accepted">
					<div class="electric-book-details">
						<h2>My version of <a href="/">Another-book-name</a> by My Org</h2>
					</div>

					<p><a class="submission-status" href="/">Submission accepted</a> 3 days ago by me</p>
				</li>
				<li class="electric-book submission-rejected">
					<div class="electric-book-details">
						<h2>Another Person's version of <a href="/">Another-book-name</a> by My Org</h2>
					</div>

					<p><a class="submission-status" href="/">Submission rejected</a> 3 days ago by Other Person</p>
				</li>
			</ul>
		</div>
	</section>
</main>

<!-- {{template "_footer.html" .}} -->

<footer role="contentinfo">
	<p><a href="http://electricbook.works/">Help</a></p>
</footer>

</body>
</html>
