<!doctype html>
<html>
	<head>
	    <meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title></title>
		<meta name="title" content="" />
		<meta name="description" content="" />

		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700" rel="stylesheet">
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>

<!-- {{template "_header.html" .}} -->

<nav role="banner">
	<ul class="nav-main">
		<li><a href="/" id="logo" class="logo"><img src="/img/electricbookworks.png">Electric Book Manager</a></li>
		<li>Logged in as <a href="https://github.com/{{.UserName}}">{{.UserName}}</a>. <a href="/logoff">Log out</a></li>
	</ul>
</nav>

<!-- {{template "_nav_main.html" . }} -->

<main>
    <h1>Front-end Style Guide</h1>

	<section class="sg-section">
		<h2 class="sg-section-header">Colours</h2>
		<div class="sg-item">
			<div class="swatch swatch-primary">$primary</div>
			<div class="swatch swatch-grey">$grey</div>
			<div class="swatch swatch-off-grey">$off-grey</div>
			<div class="swatch swatch-dark-grey">$dark-grey</div>
		</div>
	</section>

    <section class="sg-section">
        <h2 class="sg-section-header">Typography</h2>

        <div class="sg-item">
            <h3 class="sg-header">paragraph</h3>
            <p>Lorem ipsum <em>dolor sit amet</em>, consectetur adipisicing elit, sed do eiusmod <strong>tempor incididunt</strong> ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa <a href="#">qui officia deserunt mollit</a> anim id est laborum.</p>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">headers</h3>
            <h1>Heading 1</h1>
            <h2>Heading 2</h2>
            <h3>Heading 3</h3>
            <h4>Heading 4</h4>
            <h5>Heading 4</h5>
            <h6>Heading 4</h6>
        </div>
    </section>

    <section class="sg-section">
        <h2 class="sg-section-header">Forms</h2>

        <div class="sg-item">
            <h3 class="sg-header">button</h3>
            <a href="#" class="btn">Read more</a>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">button wide</h3>
            <a href="#" class="btn btn-wide">Read more</a>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">button secondary</h3>
            <a href="#" class="btn btn-secondary">Read more</a>
        </div>
        <div class="sg-item">
            <h3 class="sg-header">button alt</h3>
            <a href="#" class="btn-alt">Read more</a>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">checkbox</h3>
            <label for="remember-me">
                <input type="checkbox" id="remember-me" name="remember-me">
                Remember me
            </label>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">submit</h3>
            <input type="submit" value="Submit" class="btn" />
        </div>

        <div class="sg-item">
            <h3 class="sg-header">textbox</h3>
            <label for="comment-add">
                Add your comment
                <textarea name="comment-add" id="comment-add" cols="30" rows="3"></textarea>
            </label>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">input wide</h3>
            <label for="username">Username
                <input type="text" id="username" name="username" class="input-wide" />
            </label>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">radio</h3>
            <label for="sg-one">
                <input type="radio" id="sg-one" name="sg">
                One
            </label>
        </div>

        <div class="sg-item">
            <h3 class="sg-header">select</h3>
            <label for="id_gender">Pick one
                <select name="id_gender" id="id_gender" class="input-wide">
                    <option value="male">Yes</option>
                    <option value="female">No</option>
                    <option value="other">Maybe</option>
                </select>
            </label>
        </div>
    </section>

    <section class="sg-section">
        <h2 class="sg-section-header">Other</h2>

        <div class="sg-item">
            <h3 class="sg-header">logo</h3>
            <a href="#" class="logo"><img src="/img/electricbookworks.png" alt="Electric Book Manager"></a>
        </div>
	</section>

	<section>
		<h2 class="sg-section-header">Components</h2>

		<div class="sg-item">
			<h3 class="sg-header">Book listing</h3>
			<ul class="repo-list">
				<li class="repo">
			        <div class="repo-details">
			            <h2><a href="#">Repo name</a></h2>

			            <p>Description</p>

						<p>Last update by <a href="#">Nice name (username)</a> 1 week ago</p>
			        </div>
			        <p class="repo-manage"><a class="btn" href="/repo/electric-book/update?url=https%3a%2f%2fgithub.com%2felectricbookworks%2felectric-book">Manage book</a></p>
			    </li>
				<li class="repo">
			        <div class="repo-details">
			            <h2><a href="#">Repo name</a></h2>

			            <p>Description</p>

						<p>Last updated by Nice name (username) 1 week ago. <a href="#">View updates</a></p>
			        </div>
			        <p class="repo-manage"><a class="btn" href="/repo/electric-book/update?url=https%3a%2f%2fgithub.com%2felectricbookworks%2felectric-book">Manage book</a></p>
			    </li>
			</ul>
		</div>

		<div class="sg-item">
			<h3 class="sg-header">PRs for book listing</h3>

			<div class="pull-requests">
				<h3>Changes submitted for review</h3>
				<ul>
					<li>PR Title submitted by Nice Name (username) 1 day ago. <a href="#">View changes</a></li>
					<li>PR Title submitted by Nice Name Too (usernametoo) 3 days ago. <a href="#">View changes</a></li>
				</ul>
			</div>
		</div>

		<div class="sg-item">
			<h3 class="sg-header">Book with PR</h3>
			<ul class="repo-list">
				<li class="repo">
			        <div class="repo-details">
			            <h2><a href="#">Repo name</a></h2>

			            <p>Description</p>

						<p>Last update by <a href="#">Nice name (username)</a> 1 week ago</p>

						<div class="pull-requests">
							<h3>Changes submitted for review</h3>
							<ul>
								<li>PR Title submitted by Nice Name (username) 1 day ago. <a href="#">View changes</a></li>
								<li>PR Title submitted by Nice Name Too (usernametoo) 3 days ago. <a href="#">View changes</a></li>
							</ul>
						</div>
			        </div>
			        <p class="repo-manage"><a class="btn" href="/repo/electric-book/update?url=https%3a%2f%2fgithub.com%2felectricbookworks%2felectric-book">Manage book</a></p>
			    </li>
			</ul>
		</div>

		<div class="sg-item">
            <h3 class="sg-header">Pagination</h3>
			<nav class="pagination">
				<ul>
					<li><a href="#">Previous</a></li>
					<li><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">Next</a></li>
				</ul>
			</nav>
        </div>

		<div class="sg-item">
			<h3 class="sg-header">Make a commit</h3>

			<label class="label-wide" for="commit-message">Description of changes</label>
            <input type="text" id="commit-message" name="commit-message" class="commit-message" placeholder="e.g. grammar and spelling fixes">
		</div>
	</section>
</main>

<!-- {{template "_footer.html" .}} -->

<footer role="contentinfo">
&copy; Electric Book Works
</footer>

</body>
</html>
