---
---

// Variables

$max-width: 36em;

$font-size: 1.2em;
$font-text-main: "Crimson", serif;
$font-display-main: "Source Sans Pro", sans-serif;
$font-code: Monaco, "DejaVu Sans Mono", "Courier New", monospace;

$color-accent: #009E7F;
$color-text: #222222;
$color-mid: #eeeeee;
$color-mid-light: #e0e0e0;
$color-light: #ffffff;
$color-links: #477DB2;

$border-radius: 0.2em;
$rule-thickness: 1px;

$break-point-l: 800px;

// Structure

body {
	font-family: $font-text-main;
	font-size: $font-size;
	color: $color-text;
	line-height: 1.5;
	margin: 0;
}

.wrapper {
	margin: 0 auto;
	padding: 0 0 2em 0;
}

.masthead {
	font-family: $font-display-main;
	width: 100%;
	padding: 0.5em;
	border-bottom: $rule-thickness solid $color-mid;
	margin: 0 0 2em 0;
	background-color: $color-accent;
	text-align: center;
	@media (min-width: $break-point-l) {
		padding: 1em;
	}
	.title {
		line-height: 1.2;
		max-width: 60%;
		display: inline-block;
		color: $color-mid-light;
	}
}

.navigation {
	padding: 0.5em 0.5em;
	@media (min-width: $break-point-l) {
		float: left;
		position: fixed;
		width: 14em;
		top: 6.4em; // aligns with content heading
		height: 100vh;
		overflow-x: hidden;
	}
}

nav {
	font-family: $font-display-main;
	position: absolute;
	top: -0.5em;
	left: 0.5em;
	@media (min-width: $break-point-l) {
		top: 0;
	}
	&:before {
		content: "\2261";
		display: block;
		font-size: 2.3em;
		font-family: $font-code;
		color: $color-mid-light;
		margin-right: 0.16em; // for refined positioning
		@media (min-width: $break-point-l) {
			display: none;
		}
	}
	&:hover ul {
		display: block;
		background-color: $color-light;
	}
	ul {
		padding: 0.5em;
		border: $rule-thickness solid $color-mid;
		list-style-type: none;
		margin: 0;
		display: none; // hide till nav:before hover
		@media (min-width: $break-point-l) {
			display: block;
		}
		li {
			line-height: 1;
			margin-bottom: 0.5em;
		}
	}
}

.content {
	margin: auto;
	.content-inner {
		max-width: $max-width;
		margin: auto;
		padding: 0 0.5em;
	}
	@media (min-width: $break-point-l) {
		margin: 0 0 0 16em;
	}
}

// Typography

h1, h2, h3, h4, h5 {
	font-family: $font-display-main;
}

h1 {
	font-weight: bold;
	font-size: 2.4em;
	line-height: 1.2;
}

code {
    font-family: $font-code;
    font-size: 80%;
    white-space: pre-wrap;
    background-color: $color-mid;
    padding: 0.1em 0.3em;
    border-radius: $border-radius;
}
pre {
    background-color: $color-mid;
    border-radius: $border-radius;
    margin: 1em 0;
    padding: 0.5em;
    code {
        padding: 0;
    }
}

a {
	text-decoration: none;
	color: $color-links;
}

#markdown-toc {
	list-style-type: none;
	padding: 0;
	border: $rule-thickness solid $color-mid;
	padding: 0.25em;
}