// Images

.content {
	// kramdown puts images in p tags, so to center them,
	// we display block and margin auto.
	img {
		display: block;
		margin: auto; // comment this out to not centre images
		max-height: 100%;
		max-height: 100vh;
		max-width: 100%;
		box-sizing: border-box;
	}
}

// Use this for inline images that start a paragraph 
.image-with-caption {
    font-size: $caption-font-size;
    img {
    	margin-bottom: $line-height * 0.5 * 1em;
    }
}
