// Wrappers

html, body {
	max-width: 100%;
	overflow-x: hidden; // Prevents horizontal scrolling, in conjunction with width/max-width
	width: 100%;
	height: 100%;
}
body {
	background-color: $background-color-light;
	color: $text-color-dark;
	font-family: $font-main;
	font-size: $font-size;
	line-height: $line-height;
	margin: 0;
	padding: 0;
	height: 100%;
}
.wrapper {
	margin: 0 auto;
	// height: 100%; // uncomment this if you're not using sticky-footer.js
	@media only screen and (min-width: $break-point-l) {
		display: flex;
		flex-wrap: wrap;
	}
}
.content {
	background-color: $background-color-light;
	clear: both;
	// height: 100%; // uncomment this if you're not using sticky-footer.js
	.content-inner {
		padding: 2em 1em;
		margin: 0 auto 3em auto;
		max-width: $content-width;
	}
	@media only screen and (min-width: $break-point-l) {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		max-width: ($side-nav-width * 2) + $content-width;
		width: 100%;
		.content-inner {
			margin: 0 auto;
			width: 100%;
		}
	}
}
