.btn {
	@include button-style();
	padding: 0.4em 1em;
	line-height: 1;
	appearance: button;
	&.disabled,
	&[disabled=""] {
		background-color: $button-background-disabled;
		color: $button-color-disabled;
		border-bottom-width: 0;
		&:hover {
			background-color: $button-background-disabled;
			color: $button-color-disabled;
		}
	}

	&.btn-inverse {
		color: $color-primary;
		background-color: white;
		&:hover {

		}
	}
}

.button-smallprint {
	margin-top: 0.6em;
    font-size: 0.8em;
    max-width: 40em;
}

.action-group {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: baseline;
	&>* {
		margin-left: 1em;
		&:first-child {
			margin-left: 0;
		}
	}
}
