.btn {
	@include button-style();
	padding: 0.4em 1em;
	&.disabled {
		background-color: lighten($color-primary, 20%);
		border-bottom-width: 0px;
		&:hover {
			background-color: inherit;
		}
	}
}

.action-group {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: baseline;
	padding: 0.4em;
	&>* {
		margin-left: 1em;
		&:first-child {
			margin-left: 0;
		}
	}
	&.primary {

	}
	&.secondary {

	}
}