
#files-show-tag {
	align-items: center;
	background-color: $color-black;
	color: $color-mediumgray;
	cursor: pointer;
	display: flex;
	flex-direction: row;
	height: 2em; // match height of editor-actions button bar
	justify-content: center;
	text-align: center;
	width: 100%;
	z-index: 5; // stays above editor bar on repo_conflict page
	
	span {
		border-radius: 1em;
		height: 1.5em;
		padding-top: 2px; // nudge arrow into center of circle
		width: 1.5em;
		&.showing {
			display: none;
			&::after {
				content: "\f070";
				font-family: "FontAwesome";
			}
		}
		&.hidden {
			display: inline-block;
			&::after {
				content: "\f06e";
				font-family: "FontAwesome";
			}
		}
	}
	&:not(.showing) {
		width: calc(100% + 2.1em); // make show button visible when closed
	}
	&.showing {
		justify-content: flex-end;
		padding: 0 0.75rem;
		& > span {
			&.showing {
				display: flex;
				justify-content: center;
				padding-top: 0.1em;
			}
			&.hidden {
				display: none;
			}
		}
	}
	&:hover {
		span {
			background-color: $button-background;
			color: $button-color;
		}
	}
}