@mixin file-tip($color: $color-mediumgray) {
	background-color: $color;
	border-radius: 1em;
	color: $button-color;
	font-size: 0.7em;
	font-weight: normal;
	letter-spacing: 0.05em;
	margin-left: 1em;
	padding: 0 1em;
	text-transform: uppercase;
}

.file-container {
	flex-grow: 1;
	position:relative;

	#all-files-editor {
		bottom: 0;
		box-sizing: border-box;
		left: 0;
		margin: 0;
		max-width: 100%;
		overflow: scroll;
		padding: 1.5em 0.5em 0.5em 0.5em; // top makes space for 'show-hide'
		position: absolute;
		top: 0;
		width: 100%;

		.allfiles-file {
			box-sizing: border-box;
			cursor: pointer;
			list-style: none;
			margin: 0;
			padding-left: 1em;
			padding: 0;

			&:hover {
				background-color: $color-primary;
			}
			&.changed {
				color: $color-success-light;
			}
			&.removed {
				color: $color-warning;
				text-decoration: line-through;
			}
			&.ignore {
				display: none;
			}
		}

		.node {
			font-size: 0.9rem; // rem to avoid nested files getting smaller
		}
		.node.node-file {
			.closer {
				visibility: hidden;
			}
			.name {
				cursor: pointer;
			}
		}
		.node.editing-in-progress .name {
			font-weight: bold;
			&::after {
				@include file-tip($color-status-new);
				content: "Editing";
			}
		}
		.node.state-unchanged {
		}
		.node.state-changed {
			background-color: $color-status-modified;
		}
		.node.state-deleted{
			text-decoration: line-through;
			color: $color-status-deleted;
		}
		.node.state-new {
			background-color: $color-status-new;
		}
		.node.state-absent {
			display: none;
			.name {
				text-decoration: line-through;
				color: #ccc;
			}
		}
		div.children {
			margin-left: 1em;
			overflow:hidden;			
			transition: height $transition-slide-duration;
		}
		.node .name {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
		}
		.node.closed .children {
			display: none;
		}
		.node .closer {
			color: $color-darkgray;
			cursor: pointer;
			margin-right: 0.5em;
			&::after {
				content: "\25e6"; // ◦
				display: block;
				font-size: 1.3em;
				line-height: 0;
			}
		}
		.node.closed .closer {
			&::after {
				color: $button-background;
				content: "\2022";
			}
		}
		.node.ignore {
			display: none;
		}
		// Appearance of folder names
		.node-dir > .name > span:nth-child(2) {
			color: $color-darkgray;
		}

		// Diff view
		.node-file {
			&.delete {
				// Filename is span:last-child
				span:last-child {
					text-decoration: line-through;
					&::after {
						@include file-tip($color-status-deleted);
						content: "Deleted";
					}
				}
			}
			&.add {
				span:last-child {
					&::after {
						@include file-tip($color-status-new);
						content: "New";
					}
				}
			}
			&.change {
				span:last-child {
					font-weight: bold;
					&::after {
						@include file-tip($color-status-modified);
						content: "Changed";
					}
				}
			}
			&.unchanged {
				span:last-child {
					color: $color-darkgray;
				}
			}
		}
	}
}

