.invitations {
	.invite {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		justify-content: space-between;
		.text {
			flex-grow: 1;
		}
		.actions {
			align-self: flex-end;

			flex-grow: 0;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			justify-content: flex-end;
		}
		margin-bottom: 1em;
		
	}
}