.invitations {
	background-color: $color-info;
	margin-bottom: 3em;
	padding: 1em;
	.invite {
		align-items: flex-start;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
		.text {
			font-size: 0.9em;
			.invitations-invite-repo-link {
				font-weight: bold;
			}
		}
		.actions {
			font-size: 0.9em;
			margin-left: 1em;
			a {
				text-decoration: underline;
				&.invitations-accept {
					font-weight: bold;
				}
			}
		}
	}
}
