.invitations {
	@include notification-dialog();
	margin-bottom: 3em;
	.invite {
		align-items: flex-start;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-bottom: 1em;
		&:last-child {
			margin-bottom: 0;
		}
		.text {
			.invitations-invite-repo-link {
				font-weight: bold;
			}
		}
		.actions {
			margin-left: 1em;
			a {
				&.invitations-accept {
					font-weight: bold;
				}
			}
		}
	}
}
