.topbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	padding: 1em;
	border-bottom: 1px solid darken($color-inverse-bg, 10%);

	@include inverse;

	img {
		width: 3em;
		height: 2em;
		padding: 0 0.5em;
	}

	.username-gravatar {
		margin-right: 1em;
	}

	.topbar-center {
		font-weight: bold;
	}
}