.topbar {
	align-items: baseline;
	background-color: $color-black;
	color: $color-white;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.75em;

	img {
		box-sizing: border-box;
		height: 2em;
		margin-bottom: 2px;
		width: 2em;
	}

	.username-gravatar {
		& > img {
			border-radius: 1em;
			margin-left: 0.5em;
			margin-right: 0.5em;
		}
	}

	.topbar-center {
		font-weight: bold;
	}

	.topbar-links {
		a {
			margin-right: 1em;
		}
	}

}
