.topbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	padding: 0.75em;
	background-color: $color-black;
	color: $color-white;

	img {
		height: 2em;
		width: 2em;
		margin-bottom: 2px;
		box-sizing: border-box;
	}

	.username-gravatar {
		& > img {
			margin-left: 0.5em;
			margin-right: 0.5em;
			border-radius: 1em;
		}
	}

	.topbar-center {
		font-weight: bold;
	}
}