#print-listener {
	@include terminal-typography();

	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	max-height: 20%;
	padding: 1em;
	z-index: 4; // keep above line-numbers column in editor

	// Flex
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: stretch;

	.header {
		flex-grow: 0;
		padding: 0 0 0.5em 0;

		&.tick {}
		&.done {
			color: $color-success;
		}

		display: flex;
		justify-content: space-between;

		.title {
			font-weight: bold;
		}
		.close {
			cursor: pointer;
			font-size: 2em;
			line-height: 1;
			margin-top: -0.2em; // nudge up visually
			text-align: right;
		}
	}

	.terminal {
		flex-grow: 1;
		overflow-y: auto;

		.error-line {
			color: $color-warning;
			font-weight: bold;
		}
		.done {
			color: $color-success;
			font-weight: bold;
		}
	}
}
