.toolbar-menu {
	flex-grow: 0;
	// padding: 0.2em;

	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: baseline;

	&>button, &>div, &>a {
		display: block;
		margin-bottom: 0.2em;
		margin-right: 0.4em;
	}

	.spacer {
		height: 1em;
	}

	.drop-down {
		display: inline-block;
		position: relative;
		&>.btn {
			&:after {
				display: inline-block;
				margin-left: 0.5em;
				width: 1em;
				height: 1em;
				content: url('/img/arrow-right.svg');
				// transform: scale(0.1);
				transition: transform 0.2s;
			}
		}
		&:hover, &:active, &:focus, &:focus-within {
			&>.btn {
				&:after {
					// content: url('/img/arrow-down.svg');
					transform: rotate(-90deg);
				}
			}
		}
		.hover {
			position: absolute;
			top: 2em;
			left: 0;
			background-color: white;
			border: 2px solid $color-primary;
			border-radius: 0.4em;
			border-top-left-radius: 0;
			padding: 0.6em;
			z-index: 100;
			display: none;

			flex-direction: column;
			justify-content: flex-start;
			align-items: stretch;

			width: 15em;

			&>div, &>a, &>button {
				margin: 0.2em 0.4em;
			}

			&:hover, &:active, &:focus, &:focus-within {
				display: flex;
			}
		}
		&:hover, &:active, &:focus, &:focus-within {
			.hover {
				display: flex;
			}
		}
	}
}
