#topbar {
	// display: flex;
	// flex-direction: row;
	// justify-content: space-between;
	// align-items: baseline;
	.titles {
		// flex-grow: 1;
	}
	#right-menu {
		position: absolute;
		top: 0;
		right: 0;
		text-align: left;
		z-index: 1;
		.menu {
			padding: 1em;
			position: relative;
			&>ul {
				visibility: hidden;
				li {
					background-color: #ccc;
					padding: 1em 1em 0 1em;
					&:last-child{ 
						padding-bottom: 1em;
					}
				}
			}
			&:hover {
				&>ul {
					visibility: visible;
				}
			}
		}
	}
}