#topbar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	.titles {
		flex-grow: 1;
	}
	#right-menu {
		flex-grow: 0;
		list-style: none;
		margin-right: 1em;
		li {
			display: inline-block;
			&:after {
				content: "|";
				padding: 0 1em;
			}
			&:last-child:after {
				content: "";
				padding: 0;
			}
		}
	}
}