// Global CodeMirror styles.
// These override default CodeMirror styles in
// bower_components/codemirror/lib/codemirror.css
// These are then overriden in specific EBM feature styles.
main {
    .CodeMirror {
        background-color: $color-white;
        font-family: $body-font-family-code;
        font-size: 0.8rem;
        height: 100%;
        min-height: 100%;
        padding: 1em 0;
        width: 100%;
    
        pre {
            font-family: $body-font-family-code;
        }

        // Search box
        .CodeMirror-dialog-top {
            padding: 1em;
            input {
                box-shadow: none;
            }
        }

        .CodeMirror-sizer {
            max-width: 55em;
        }
    
        .CodeMirror-line {
            line-height: 1.6em;
            padding: 0.1em 1em;
        }

        .CodeMirror-gutters {
            background-color: $color-white;
            border-right-color: $color-white;
        }

        .CodeMirror-linenumber {
            font-size: 0.7em;
            line-height: 2.2em; // align with text
        }

        // Theme
        &.cm-s-default .cm-keyword {color: #708;}
        &.cm-s-default .cm-atom {color: #219;}
        &.cm-s-default .cm-number {color: #164;}
        &.cm-s-default .cm-def {color: #00f;}
        &.cm-s-default .cm-variable {color: black;}
        &.cm-s-default .cm-variable-2 {color: #05a;}
        &.cm-s-default .cm-variable-3 {color: #085;}
        &.cm-s-default .cm-property {color: black;}
        &.cm-s-default .cm-operator {color: black;}
        &.cm-s-default .cm-comment {color: #a50;}
        &.cm-s-default .cm-string {color: #a11;}
        &.cm-s-default .cm-string-2 {color: #f50;}
        &.cm-s-default .cm-meta {color: #555;}
        &.cm-s-default .cm-qualifier {color: #555;}
        &.cm-s-default .cm-builtin {color: #30a;}
        &.cm-s-default .cm-bracket {color: #997;}
        &.cm-s-default .cm-tag {color: #170;}
        &.cm-s-default .cm-attribute {color: #00c;}
        &.cm-s-default .cm-header {color: $color-black;}
        &.cm-s-default .cm-quote {color: #090;}
        &.cm-s-default .cm-hr {color: #999;}
        &.cm-s-default .cm-link {color: cornflowerblue;}

        .cm-negative {color: #d44;}
        .cm-positive {color: #292;}
        .cm-header, .cm-strong {font-weight: bold;}
        .cm-em {font-style: italic;}
        .cm-link {text-decoration: underline;}

        &.cm-s-default .cm-error {color: #f00;}
        .cm-invalidchar {color: #f00;}

        div.CodeMirror span.CodeMirror-matchingbracket {color: #0f0;}
        div.CodeMirror span.CodeMirror-nonmatchingbracket {color: #f22;}
        .CodeMirror-activeline-background {background: #e8f2ff;}
    }

    // When in distraction-free mode
    .files-nav-hidden ~ .section-editor {
        .CodeMirror-lines {
            transform: translateX(calc((100vw - 55em) / 2));
        }
    }
}
