// Hex values
$black1: #000000;
$black2: #262626;
$black3: #818181;
$black4: #D9D9D9;
$black5: #E9E9E9;
$black6: #F5F5F5;
$yellow1: #ffcc34;
$yellow2: #FFF8E2;
$green1: #009E7F;
$orange1: #ffeae2;
$white1: white;
$white2: #fdfdfd;

// Main colours
$bodytext: $black2;
$primary: $yellow1;

// Black through white
$color-primary: $primary;
$color-secondary: $black2;
$color-black: $black2;
$color-darkgray: $black3;
$color-mediumgray: $black4;
$color-gray: $black5;
$color-lightgray: $black6;
$color-white: $white2;

// Inverse colours
$color-inverse-bg: $color-primary;
$color-inverse-fg: $color-black;

// Buttons
$button-color: $color-black;
$button-color-alt: $color-darkgray;
$button-background: $color-primary;
$button-color-inverse: $white2;
$button-background-inverse: $black2;
$button-color-disabled: $color-darkgray;
$button-background-disabled: $color-gray;
$button-background-hover: lighten($color-primary, 10%);

// Dialogs
$color-alert: $orange1;
$color-error-light: $orange1;
$color-error: $orange1;
$color-info-light: $yellow2;
$color-info: $yellow2;
$color-success-light: $yellow2;
$color-success: $yellow2;
$color-warning: $orange1;

// Status
$color-status-new: $color-info;
$color-status-deleted: $color-warning;
$color-status-modified: $color-lightgray;
$color-status-resolved: $color-success;
$color-status-error: $color-error;
$color-status-conflict: $color-info;


// Redundant, to clean up
// ----------------------
// $error: $color-error;
// $error-light: $color-error-light;
// $information-light: $yellow2;
// $information: $yellow2;
$success-light: $color-success-light;
$dark-grey: $color-darkgray;
$grey: $color-gray;
$white: $color-white;
$color-offgray: $color-mediumgray;
$off-grey: $color-offgray;
$color-verylightgray: $color-lightgray;
