// Hex values

$trueblack: #000000;
$offblack: #262626;
$black: $offblack;

$charcoal: #595959;
$grey: #818181;
$cement: #D9D9D9;
$overcast: #E9E9E9;
$smoke: #F5F5F5;

$yellow: #ffcc34;
$loquat: #ffd967;
$cornsilk: #FFF8E2;

$fakelime: #34ffcc;
$seafoam: #e2fff8;

$peach: #ffeae2;

$truewhite: white;
$offwhite: #fdfdfd;
$white: $offwhite;

// Main accent colours
$bodytext: $offblack;
$primary: $yellow;

// Black through white used in Foundation
// TODO: replace when removing Foundation
$color-primary: $primary;
$color-secondary: $offblack;
$color-black: $offblack;
$color-darkgray: $grey;
$color-mediumgray: $cement;
$color-gray: $overcast;
$color-lightgray: $smoke;
$color-white: $offwhite;

// Inverse colours
$color-inverse-bg: $yellow;
$color-inverse-fg: $offblack;

// Buttons
$button-color: $offblack;
$button-color-alt: $offwhite;
$button-background-alt: $charcoal;
$button-background: $yellow;
$button-color-inverse: $offwhite;
$button-background-inverse: $offblack;
$button-color-disabled: $grey;
$button-background-disabled: $overcast;
$button-background-hover: $loquat;

// Dialogs
$color-alert: $peach;
$color-error-light: $peach;
$color-error: $peach;
$color-info-light: $cornsilk;
$color-info: $cornsilk;
$color-success-light: $seafoam;
$color-success: $fakelime;
$color-warning: $peach;

// Status
$color-status-new: $cornsilk;
$color-status-deleted: $peach;
$color-status-modified: $smoke;
$color-status-resolved: $fakelime;
$color-status-error: $peach;
$color-status-conflict: $cornsilk;
