$bodytext: #444;
$primary: #009E7F;
$grey: #ddd;
$off-grey: #71B8AA;
$dark-grey: #666;
$white: white;

$success-light: rgb(184,213,202);
$information: rgb(250,180,20);
$information-light: rgb(254,228,183);
$error: rgb(240,90,80);
$error-light: rgb(253,217,202);


$color-primary: #1779ba;	//#1779ba in Foundation original
$color-secondary: #767676;
$color-success: #3adb76;
$color-warning: #ffae00;
$color-alert: #cc4637;
$color-lightgray: #e6e6e6;
$color-mediumgray: #cacaca;
$color-darkgray: #8a8a8a;
$color-black: #0a0a0a;
$color-white: #fefefe;
$color-inverse-bg: #eee;
$color-inverse-fg: $color-primary;


$color-primary: #009E7F;
$color-secondary: #767676;
$color-success: rgb(184,213,202);
$color-warning: rgb(250,180,20);
$color-alert: rgb(240,90,80);
$color-lightgray: #ddd;
$color-mediumgray: #71B8AA;
$color-darkgray: #666;
$color-black: #444;
$color-white: white;
$color-inverse-bg: $color-primary;
$color-inverse-fg: $color-white;



$color-offgray: $color-mediumgray;
$color-error: $color-alert;
$color-info: $color-warning;