.repo-list {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 3em;
    a.repo-title {
        display: block;
        font-weight: bold;
        margin-bottom: 0;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        text-overflow: fade;

        max-width: 100%;
        text-decoration: none;
    }

    position:relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;


    .repo {
        width: 30%;

        margin-right: 5%;
        &:nth-child(3n) {
            margin-right: 0;
        }

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        padding: 1em;
    }
    @supports (display:grid) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        align-items: stretch;

        .repo {
            //box-sizing: border-box;
            width: auto;
            border: 1px solid #333;
            word-break: auto;
            margin-right: 0;
        }
    }
}

.pull-requests {
    padding-left: 4em;
    ul {
        padding-left: 0;
        list-style: none;
    }
}

.ebm-repos {
    padding-left: 0;
    list-style: none;
    max-width: $bp-l;
    margin: 0 auto;
    h2 {
        margin-bottom: 0;
        a {
            text-decoration: none;
        }
    }
    h3 {
        a {
            text-decoration: none;
        }
    }
}

.ebm-pull-requests {
    padding-left: 0;
    list-style: none;
}

.ebm-repos,
.ebm-pull-request {
    section {
        border-top: 0;
        &:nth-of-type(2) {
            padding-top: 0;
        }
    }
}

.ebm-repo {
    border-bottom: 3px solid $off-grey;
    &:first-child {
        border-top: 3px solid $off-grey;
    }
}

.ebm-pull-request {
    padding: 1em 0;
    border-top: 1px solid $grey;
}

.electric-books {
    border: 0;
    ul {
        padding-left: 0;
        list-style: none;
        max-width: $bp-l;
        margin-left: auto;
        margin-right: auto;
        h2 {
            line-height: 1;
            margin-bottom: 0.5em;
            a {
                text-decoration: none;
            }
        }
    }
}

.electric-book {
    padding: 1em 0;
    border-bottom: 3px solid $off-grey;
    &:first-child {
        border-top: 3px solid $off-grey;
    }
    .electric-book-details {
        max-width: $bp-s;
        margin-bottom: 1em;
    }
    @media (min-width: $bp-l) {
        display: flex;
        justify-content: space-between;
        .action-group-inline {
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-end;
            li {
                padding-right: 0;
            }
        }
    }
}

.electric-books-reviewed {
    .electric-book {
        border-color: $grey;
    }
    h2 {
        font-weight: normal;
    }
}

.submission-accepted {
    .submission-status {
        font-weight: bold;
    }
}
