// Override Foundation's normalize, which
// sets sans-serif for buttons etc.
button,
input,
optgroup,
select,
textarea {
    font-family: $body-font-family;
}

input,
textarea {
    border: solid 1px $cement;
    &::placeholder {
        color: $grey;
    }
}

[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'], textarea {
    box-shadow: none;

    &:focus {
        border-color: $color-darkgray;
        box-shadow: none;
        transition: none;
    }
}

[type="checkbox"],
[type="radio"] {
	margin-right: 0.5em;
}

select,
input,
textarea {
    // margin-left: 0.5em;
}

label {
    font-size: 1rem;
}

.cta,
.btn,
[type="submit"] {
    background-color: $color-primary;
    border-width: 0;
	color: $color-black;
	display: inline-block;
    text-decoration: none;
	// padding: 0.5em 1em;
	border-radius: $global-radius;
	&:hover {
		// background-color: lighten($color-primary, 10%);
        // border-bottom: 0.15em solid transparent;
        color: $color-black;
		cursor: pointer;
	}
    &[disabled] {
        border: none;
        background-color: $button-background-disabled;
        cursor: default;
        position: relative;
        &:hover {
            background-color: $button-background-disabled;
            color: $color-darkgray;
        }
        // top: 0.15em;    // Make sense of the 3d effect - disabled buttons are surface-flush
    }
}

.btn.active,
[type="submit"].active {
    animation: active 1s infinite;
}

@keyframes active {
    0% {
        background-color: $button-background-hover;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: $button-background-hover;
    }
}

.btn-wide,
.input-wide,
.label-wide {
	display: block;
}

.input-wide {
    width: calc(100% - 1em);
    margin-left: 0;
}

.label-wide {
    margin-bottom: 0.5em;
    + input {
        margin-left: 0;
    }
}

.commit-message {
    width: 40em;
    max-width: 95%;
    max-width: calc(100% - 1em);
}

.btn-secondary,
.btn.btn-secondary {
    background-color: $color-gray;
	&:hover {
        background: $color-primary;
	}
}

.btn-cancel,
.btn.btn-cancel {
    background-color: $color-mediumgray;
}

.btn-alt {
	background-color: $color-black;
	color: $color-white;
	display: inline-block;
    text-decoration: none;
	// padding: 0.5em 1em;
	// border-radius: 0.25em;
	// border-top: 0;
	// border-right: 0;
	// border-left: 0;
    // border-bottom: 0.15em solid darken($color-white, 20%);
	&:hover {
		background-color: darken($color-white, 10%);
        border-bottom: 0.15em solid transparent;
	}
}

.pull-request {
    @media (min-width: $bp-s) {
        display: flex;
        justify-content: space-between;
    }
    .action {
        flex-direction: column;
        justify-content: flex-end;
    }
}

.form-search {
    display: flex;
    align-items: center;
    max-width: $bp-s;
}

[type="search"] {
    margin-right: 1em;
    flex-grow: 1;
}

.form-new-version {
    p {
        margin-bottom: 2em;
    }
    label {
        + p {
        margin-left: 2em;
        }
    }
}

fieldset {
    padding: 0.5em 0.75em;
    border: 0;
}

legend {
    padding: 0 0.25em 0 0.5em;
}

.action-group {
    ul {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
    }
    li {
        padding: 0.25em 0.5em;
    }
}

.repository,
.repository-new,
.modal {
    .action-group {
        ul {
            text-align: right;
        }
    }
}

.actions-editor {
    ul {
        text-align: right;
    }
    li {
        display: inline-block;
    }
}

.form-fork {
    [type="text"] {
        width: 30em;
    }
}
