input,
textarea,
.btn {
    padding: 0.25em 0.5em;
    font-family: 'Source Sans Pro', sans-serif;
    border: solid 1px $color-offgray;
}

[type="checkbox"],
[type="radio"] {
	margin-right: 0.5em;
}

select,
input,
textarea {
    margin-left: 0.5em;
}

.cta,
.btn,
[type="submit"] {
    background-color: $color-primary;
	color: $color-white;
	display: inline-block;
    text-decoration: none;
	padding: 0.5em 1em;
	border-radius: 0.25em;
	border-top: 0;
	border-right: 0;
	border-left: 0;
    border-bottom: 0.15em solid darken($color-primary, 10%);
	&:hover {
		background-color: lighten($color-primary, 10%);
        border-bottom: 0.15em solid transparent;
		cursor: pointer;
	}
    &[disabled] {
        border: none;
        background-color: $color-offgray;
        cursor: default;
    }
}



.btn-wide,
.input-wide,
.label-wide {
	display: block;
}

.input-wide {
    width: calc(100% - 1em);
    margin-left: 0;
}

.label-wide {
    margin-bottom: 0.5em;
    + input {
        margin-left: 0;
    }
}

.commit-message {
    width: 40em;
    max-width: 95%;
    max-width: calc(100% - 1em);
}

.btn-secondary {
	background-color: $color-darkgray;
	border-bottom: 0.15em solid darken($color-darkgray, 10%);
	&:hover {
		background: lighten($color-darkgray, 20%);
	}
}

.btn-alt {
	background-color: $color-white;
	color: $color-primary;
	display: inline-block;
    text-decoration: none;
	padding: 0.5em 1em;
	border-radius: 0.25em;
	border-top: 0;
	border-right: 0;
	border-left: 0;
    border-bottom: 0.15em solid darken($color-white, 20%);
	&:hover {
		background-color: darken($color-white, 10%);
        border-bottom: 0.15em solid transparent;
	}
}

.pull-request {
    @media (min-width: $bp-s) {
        display: flex;
        justify-content: space-between;
    }
    .action {
        flex-direction: column;
        justify-content: flex-end;
    }
}

.form-search {
    display: flex;
    align-items: center;
    max-width: $bp-s;
}

[type="search"] {
    margin-right: 1em;
    flex-grow: 1;
}

.form-new-version {
    p {
        margin-bottom: 2em;
    }
    label {
        + p {
        margin-left: 2em;
        }
    }
}

fieldset {
    padding: 0.5em 0.75em;
    border: 0;
}

legend {
    padding: 0 0.25em 0 0.5em;
}

.action-group {
    ul {
        list-style: none;
        padding-left: 0;
        margin-top: 0;
    }
    li {
        padding: 0.25em 0.5em;
    }
}

.repository,
.repository-new,
.modal {
    .action-group {
        ul {
            text-align: right;
        }
    }
}

.actions-editor {
    ul {
        text-align: right;
    }
    li {
        display: inline-block;
    }
}

.form-fork {
    [type="text"] {
        width: 30em;
    }
}
