[role="banner"] {
    background: $primary;
    color: $white;
    a {
        color: $white;
    }
}

.nav-main {
    padding: 1em;
    list-style: none;
    margin-top: 0;
    li:first-child {
        margin-bottom: 1em;
    }
    @media (min-width: $bp-s) {
        display: flex;
        justify-content: space-between;
        li:first-child {
            margin-bottom: 0;
        }
    }
}

main {
    padding: 1em;
}

[role="contentinfo"] {
    background: $primary;
    color: $white;
    text-align: center;
    padding: 1em;
}

.form-fork {
    [type="text"] {
        width: 30em;
    }
}

img {
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

.l-center {
    text-align: center;
}

.action-group {
    list-style: none;
    padding-left: 0;
    li {
        display: inline-block;
        margin-left: 1em;
    }
}

.action-group-main {
    text-align: right;
}

.action-group-general {
    text-align: center;
}

section {
    padding: 1em 0;
}

.pagination {
    a {
        padding: 0 0.25em;
        margin: 0 0.25em;
    }
}

article {
  @media (min-width: $bp-s) {
    padding-left: 10%;
    padding-right: 10%;
  }
  @media (min-width: $bp-m) {
    padding-left: 15%;
    padding-right: 15%;
  }
  @media (min-width: $bp-l) {
    padding-left: 20%;
    padding-right: 20%;
  }
}

.editor {
    padding: 0.25em 0.5em;
    border: solid 1px $off-grey;
    @media (min-width: $bp-s) {
      margin-right: 20%;
    }
    @media (min-width: $bp-m) {
      margin-right: 30%;
    }
    @media (min-width: $bp-l) {
      margin-right: 40%;
    }
}
