section {
	margin-top: 1em;
}

body {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	min-height: 100vh;

	main {
		flex-grow: 1;
	}

	footer {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: baseline;
		padding-top: 1em;

		@include inverse;
		border-top: 1px solid darken($color-inverse-bg, 10%);
	}
	article {
	}
}

.constrain-page {
  width: 90%;
  margin: auto;

  @media (min-width: $bp-m) {
  	width: 70%;
  }

  @media (min-width: $bp-l) {
  	width: 70%;
  }
}

.l-center {
	text-align: center;
}