[role="banner"],
[role="contentinfo"] {
    background: $primary;
    color: $white;
    padding: 1em;
    a {
        color: $white;
    }
}

[role="banner"] {
    @media (min-width: $bp-m) {
        display: flex;
        justify-content: space-between;
    }
    p {
        margin-bottom: 0;
    }
}

.nav-main {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1em;
    @media (min-width: $bp-m) {
        margin-bottom: 0;
    }
    li {
        display: inline-block;
    }
}

.logo {
    margin-right: 1em;
}

.gravatar {
    width: 1.5em;
    height: 1.5em;
    display: inline-block;
    margin: 0 0.5em;
}

main {
    padding: 1em;
}

[role="contentinfo"] {
    background: $primary;
    color: $white;
    text-align: center;
    padding: 1em;
}

.form-fork {
    [type="text"] {
        width: 30em;
    }
}

img {
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

.l-center {
    text-align: center;
}

.action-group {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}

.action-group-inline {
    li {
        display: inline-block;
        padding: 0.25em 0.5em;
        &:first-child {
            padding-left: 0;
        }
        &:last-child {
            padding-right: 0;
        }
    }
}

.action-group-main {
    text-align: right;
}

.action-group-general {
    text-align: center;
}

.action-group-block {
    li {
        padding: 0.5em;
    }
}

section {
    padding: 2em 0;
    border-top: solid 3px $off-grey;
    :last-child {
        margin-bottom: 0;
    }
}

.pagination {
    a {
        padding: 0 0.25em;
        margin: 0 0.25em;
    }
}

article {
  @media (min-width: $bp-s) {
    padding-left: 10%;
    padding-right: 10%;
  }
  @media (min-width: $bp-m) {
    padding-left: 15%;
    padding-right: 15%;
  }
  @media (min-width: $bp-l) {
    padding-left: 20%;
    padding-right: 20%;
  }
}

.section-editor {
  @media (min-width: $bp-s) {
    padding-left: 5%;
    padding-right: 5%;
  }
  @media (min-width: $bp-m) {
    padding-left: 10%;
    padding-right: 10%;
  }
  @media (min-width: $bp-l) {
    padding-left: 15%;
    padding-right: 15%;
  }
}


.editor {
    border: solid 1px $off-grey;
    padding: 0.25em 0.5em;
    margin: 1em 0;
}

.header-split {
    @media (min-width: $bp-s) {
        h2 {
            margin-bottom: 0;
        }
        display: flex;
        justify-content: space-between;
    }
}

.notification {
    padding: 1em;
    border-radius: 0.25em;
    max-width: $bp-m;
    margin: 0 auto 1em auto;
}

.notification-success {
    border: 3px solid $primary;
}

.notification-information {
    border: 3px solid $off-grey;
}

.notification-error {
    border: 3px solid $dark-grey;
    background-color: $grey;
}

.modal-content {
    max-width: $bp-s;
    margin: 0 auto;
    background-color: $white;
    padding: 2em;
    border: 1px solid $off-grey;
    border-radius: 0.25em;
}

.modal-open {
    overflow: hidden;
    position: relative;
    z-index: 1;
    .modal {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 2;
        background-color: $dark-grey;
        background-color: rgba($dark-grey, 0.5)
    }
    .modal-content {
        margin-top: 25%;
    }
}
