.constrain-page {
	margin: 1em auto;
	padding: 1em;
	max-width: 100%;
	width: 50em;
}

section {
	margin-top: 1em;
}

body {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	min-height: 100vh;
	position: relative;

	&.noflex {
		display: block;
	}
	
	main {
		flex-grow: 1;
		// overflow-y: scroll;
	}

	footer {
		@include inverse;
		align-items: baseline;
		border-top: 1px solid darken($color-inverse-bg, 10%);
		display: flex;
		flex-direction: row;
		flex-grow: 0;
		flex-wrap: nowrap;
		justify-content: center;
		padding: 1em;

		// Admin purposes only, hide from users
		.freespace,
		.admin-userlogin-token {
			display: none;
		}

	}
}

.l-center {
	text-align: center;
}

@mixin section-border() {
	border-bottom: 3px solid $color-primary;
}

.todo {
	background-color: white;
	border-radius: 1em;
	border: 3px solid #88f;
	color: #333;
	margin: 1em 0 2em 0;
	padding: 2em;
}