.repo-list {
    padding-left: 0;
    list-style: none;
    margin-top: 0;
    margin-bottom: 3em;
    a.repo-title {
        display: block;
        font-weight: bold;
        margin-bottom: 0;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        text-overflow: fade;

        max-width: 100%;
        text-decoration: none;
    }

    position:relative;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;


    .repo {
        width: 30%;

        margin-right: 5%;
        &:nth-child(3n) {
            margin-right: 0;
        }

        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: space-between;
        padding: 1em;
    }
    @supports (display:grid) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        align-items: stretch;

        .repo {
            //box-sizing: border-box;
            width: auto;
            border: 1px solid #333;
            word-break: auto;
            margin-right: 0;
        }
    }
}

.pull-requests {
    padding-left: 4em;
    ul {
        padding-left: 0;
        list-style: none;
    }
}

.repositories {
    padding-left: 0;
    list-style: none;
    max-width: $bp-l;
    margin-left: auto;
    margin-right: auto;
    h2 {
        line-height: 1;
        margin-bottom: 0.5em;
        a {
            text-decoration: none;
        }
    }
}

.repository {
    padding: 1em 0;
    border-bottom: 3px solid $off-grey;
    &:first-child {
        border-top: 3px solid $off-grey;
    }
    .repository-details {
        max-width: $bp-s;
        margin-bottom: 1em;
    }
}

.repository {
    @media (min-width: $bp-l) {
        display: flex;
        justify-content: space-between;
        .action-group-inline {
            ul {
                display: flex;
                flex-direction: column-reverse;
                justify-content: flex-end;
                li {
                    padding-right: 0;
                }
            }
        }
    }
}

// pull requests

.repositories-pull-requests {
    border: 0;
    h3 {
        margin-bottom: 0.5em;
        font-size: 1.375em;
        line-height: 1.13636364;
        @media (min-width: 43.75em) {
          font-size: 1.375em;
          line-height: 1.13636364;
        }
        @media (min-width: 56.25em) {
          font-size: 1.375em;
          line-height: 1.13636364;
        }
    }
    .repository {
        display: block;
    }
}

.repository-pull-requests {
    padding-left: 0;
    list-style: none;
}

.repository-pull-request {
    padding: 2em 0;
    border-top: 1px solid $grey;
    &:last-child {
        padding-bottom: 0;
    }
    @media (min-width: $bp-l) {
        display: flex;
        justify-content: space-between;
    }
}

.repository-pull-request-details {
    margin-bottom: 1em;
    @media (min-width: $bp-l) {
        max-width: $bp-s;
        margin-bottom: 0;
    }
}

// closed pull-requests

.repositories-pull-requests-reviewed {
    .repository {
        border-color: $grey;
    }
    h2, h3 {
        font-weight: normal;
    }
}

.pull-request-status {
        font-weight: bold;
}

// file and folder listing

.files {
    max-width: $bp-m;
    li {
        border-bottom: 1px solid $grey;
        &:first-child {
            border-top: 1px solid $grey;
        }
    }
    a {
        text-decoration: none;
        display: block;
        padding: 0.5em;
        &:hover,
        &:focus,
        &:active {
            background-color: $grey;
        }
    }
}

.file-technical {
    display: none;
}

.files-admin {
    .file-technical {
        display: block;
    }
    li {
        &:not(.file-technical) {
            a {
                font-weight: bold;
            }
        }
    }
}

.folder,
.file,
.file-or-folder-add  {
    a {
        background-position: 0.5em center;
        background-repeat: no-repeat;
        padding-left: 2em;
    }
}

.folder {
    a {
        background-image: url(img/file-directory.svg);
    }
}

.file {
    a {
        background-image: url(img/file.svg);
    }
}

.file-or-folder-add {
    a {
        background-image: url(img/plus.svg);
    }
}

.file-nice-name {
    color: $dark-grey;
}

.file-change-time {
    margin-left: 0.5em;
    white-space: nowrap;
}
