.repo-file-editor-workspace {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;

	.repo-file-editor {
		flex-grow: 1;
		height: 100%;
	}
}