.sg-section-header {
    text-transform: uppercase;
    font-weight: 400;
}

.sg-header {
  text-align: right;
  border-bottom: solid 1px $off-grey;
}

.sg-item {
    margin-bottom: 1em;
}

.swatch {
  display: inline-block;
  margin-right: 1em;
  margin-bottom: 1em;
  border-radius: 0.25em;
  text-align: center;
  padding: 2em;
  color: white;
}

.swatch-primary {
  background-color: $primary;
}

.swatch-grey {
  background-color: $grey;
  color: #333;
}

.swatch-off-grey {
  background-color: $off-grey;
}

.swatch-dark-grey {
  background-color: $dark-grey;
}

.sg-note {
    padding: 0.25em 0.5em;
    background: $grey;
    &:before {
        content: "Note: ";
        font-weight: bold;
    }
}
