.sg-section-header {
    border-top: solid 3px $off-grey;
    padding: 0.5em 0;
    text-transform: uppercase;
    font-weight: 400;
}

.sg-header {
  text-align: right;
  border-bottom: solid 1px $off-grey;
}

.sg-item {
    margin-bottom: 1em;
}
