body {
	font-family: 'Karla', sans-serif;
	color: $bodytext;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

p {
	margin-top: 0;
}

h1 {
  font-size: 1.6em;
  font-weight: bold;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4,
.repo-details h3 {
  font-size: 1.1em;
  @media (min-width: 43.75em) {
      line-height: 1.22222222;
  }
}

a {
	color: inherit;
	&:hover {
    color: inherit;
		text-decoration: none;
	}
	&[disabled='disabled'] {
		color: $color-darkgray;
		cursor: default;
	}
}

.logo {
	text-decoration: none;
	display: inline-block;
	img {
		width: 2em;
		height: 2em;
		margin-right: 0.5em;
	}
}

@mixin inverse {
	background-color: $color-inverse-bg;
	color: $color-inverse-fg;
	a {
		color: $color-inverse-fg;
		&:hover {
			color: darken($color-inverse-fg, 10%);
		}
	}
}
