body {
	font-family: 'Source Sans Pro', sans-serif;
	color: $bodytext;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

p {
	margin-top: 0;
}

// http://typecast.com/blog/a-more-modern-scale-for-web-typography


@media (min-width: 43.75em) {
  html {
    line-height: 1.375;
  }
}

h1 {
  font-size: 2em;
  line-height: 1.25;
  @media (min-width: 43.75em) {
      font-size: 2.5em;
      line-height: 1.125;
  }
  @media (min-width: 56.25em) {
      font-size: 3em;
      line-height: 1.05;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
  @media (min-width: 43.75em) {
      font-size: 2em;
      line-height: 1.25;
  }
  @media (min-width: 56.25em) {
      font-size: 2.25em;
      line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
  @media (min-width: 43.75em) {
      font-size: 1.5em;
      line-height: 1.25;
  }
  @media (min-width: 56.25em) {
      font-size: 1.75em;
      line-height: 1.25;
  }
}

h4,
.repo-details h3 {
  font-size: 1.125em;
  line-height: 1.11111111;
  @media (min-width: 43.75em) {
      line-height: 1.22222222;
  }
}

blockquote {
  font-size: 1.25em;
  line-height: 1.25;
  @media (min-width: 43.75em) {
      font-size: 1.5em;
      line-height: 1.45833333;
  }
}

a {
	color: $color-primary;
	&:hover {
		text-decoration: none;
	}
}

.logo {
	text-decoration: none;
	display: inline-block;
	img {
		width: 2em;
		height: 2em;
		margin-right: 0.5em;
	}
}

// :focus {
// 	outline: 0.15em dashed $color-darkgray;
// 	outline-offset: 0.1em;
// }
