//$workFont: 'Work Sans', sans-serif;
$workFont: 'Quattrocento Sans', sans-serif;

body {
	font-family: $workFont;
}

h1,
h2,
h3,
h4 {
	margin-top: 0;
}

p {
	margin-top: 0;
}

a {
	color: $color-link;
	&:hover {
		text-decoration: none;
	}
}

.cta {
    background: $color-link;
	color: white;
	display: inline-block;
    text-decoration: none;
	padding: 0.5em 1em;
	margin-bottom: 1em;
	border-radius: 0.25em;
	border-top: 0;
	border-right: 0;
	border-left: 0;
    border-bottom: 0.25em solid darken($color-link, 20%);
	&:hover {
		background: lighten($color-link, 20%);
        border-bottom: 0.25em solid transparent;
	}
}
