

body {
	font-family: $body-font-family;
	color: $bodytext;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
}

h1 {
  font-size: 1.6em;
  font-weight: bold;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

h4,
.repo-details h3 {
  font-size: 1.1em;
}

p {
	margin-top: 0;
	margin-bottom: 0.5em;
}

ol, ul {
	line-height: $global-lineheight;
}

a {
	color: inherit;
	&:hover {
    color: inherit;
		text-decoration: none;
	}
	&[disabled='disabled'] {
		color: $button-color-disabled;
		cursor: default;
	}
}

.logo {
	text-decoration: none;
	display: inline-block;
	img {
		width: 2em;
		height: 2em;
		margin-right: 0.5em;
	}
}

@mixin inverse {
	background-color: $color-inverse-bg;
	color: $color-inverse-fg;
	a {
		color: $color-inverse-fg;
		&:hover {
			color: darken($color-inverse-fg, 10%);
		}
	}
}

@mixin box-shadow() {
	box-shadow: 3px 3px 7px -7px $black2;
}

@mixin notification-dialog() {
	background-color: $color-info;
	padding: 1em;
	& > * {
		font-size: 0.9em;
		&:last-child {
			margin-bottom: 0;
		}
	}
	a {
		text-decoration: underline;
	}
}

// Apply to lists (ol, ul) as dropdowns
@mixin dropdown-list() {
	@include box-shadow();
	background-color: $color-white;
	border-radius: $global-radius;
	display: flex;
	flex-direction: column;
	font-size: 0.9rem;
	list-style-type: none;
	margin: 0;
	position: absolute;
	right: 0;
	text-align: left;
	top: 100%;
	visibility: hidden; // show with CSS or JS
	width: 12em;
	z-index: 1;
	li {
		border-bottom: 1px solid $color-lightgray;
		border-left: 1px solid $color-lightgray;
		border-right: 1px solid $color-lightgray;
		line-height: $global-lineheight;
		padding: 0.25em 0.4em;
		&:hover {
			background-color: $color-lightgray;
		}
		a {
			display: block;
		}
		&:first-child {
			border-radius: $global-radius $global-radius 0 0;
			border-top: 1px solid $color-lightgray;
		}
		&:last-child {
			border-radius: 0 0 $global-radius $global-radius;
		}
	}
}
