// main.scss

$bp-s: 38em;
$bp-m: 50em;
$bp-l: 64em;
$bp-xl: 80em;

@import 'colors';
@import 'foundation';
@include foundation-everything(true);

// @import 'style-guide';
//@import 'normalize';
//@import 'h5bp';
// @import 'forms';
// @import 'layout';
@import 'typography-new';
@import 'typography';

@import 'layout-new';

@import 'widgets/buttons';

@import 'widgets/Toast';
@import 'widgets/nav_main';
@import 'widgets/flashes';
@import 'widgets/files_show_tag';
@import 'widgets/toolbar_menu.scss';
@import 'widgets/header-bar';
@import 'widgets/printlistener_filelistdialog';
@import 'widgets/printlistener-terminal';
@import 'widgets/invitations';
@import 'widgets/login_token_list';
@import 'widgets/bound-filename';

// @import 'repositories';
// @import 'html-checker';

@import 'pages/landing';
@import 'pages/new-editor';
@import 'pages/pull_new';
@import 'pages/pull_request_list';
@import 'pages/pull_request_view';
@import 'pages/repo_conflict';
@import 'pages/repo_detail';
@import 'pages/repo_list';
@import 'pages/repo_file_viewer';

//@import 'typography';
@import 'forms';

a[disabled='disabled'] {
	color: $color-darkgray;
	cursor: default;
}