// main.scss

$bp-s: 38em;
$bp-m: 50em;
$bp-l: 64em;
$bp-xl: 80em;

@import 'colors';
@import 'foundation';
@include foundation-everything(true);

// @import 'style-guide';
//@import 'normalize';
//@import 'h5bp';
// @import 'forms';
// @import 'layout';
@import 'typography-new';
@import 'typography';

@import 'layout-new';

@import 'widgets/buttons';

@import 'widgets/Toast';
@import 'widgets/nav_main';
@import 'widgets/flashes';
// @import 'repositories';
// @import 'html-checker';

@import 'pages/new-editor';
@import 'pages/pull_request_list';
@import 'pages/pull_request_view';
@import 'pages/repo_list';

//@import 'typography';
@import 'forms';
